<script lang="ts">
import { defineComponent } from 'vue'
import MainLayoutHeader from './MainLayoutHeader.vue'
import MainLayoutFooter from './MainLayoutFooter.vue'
import { provideHeaderRefs } from './useHeaderTeleport'

export default defineComponent({
    components: {
        MainLayoutHeader,
        MainLayoutFooter,
    },

    setup() {
        provideHeaderRefs()
    },
})
</script>

<template>
    <MainLayoutHeader />
    <main class="page full-height-container">
        <router-view />
    </main>
    <MainLayoutFooter />
</template>

<style lang="scss">
body{
    background: $grey-1;
}

main.page{
    margin: 0 auto;
    margin-top: $header-height;

    h1{
        display: flex;
        gap: $padding;
        align-items: center;
        justify-content: space-between;
    }
}

noscript{
    display: block;
    position: fixed;
    top: $header-height;
    width: 100%;
    z-index: 9;
}

.container{
    padding: ($padding * 2) $padding;
}

.full-height-container{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$header-height});
}

.fixed-width-container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.q-pagination{
    margin-top: $padding * 2;
    justify-content: center;

    .q-btn{
        font-size: 1rem;
        width: $padding * 4;
        height: $padding * 4;
    }
}
</style>
