<script lang="ts">
import { APP_NAME } from '@/common/Constants'
import { defineComponent } from 'vue'

export default defineComponent({
    setup() {
        return {
            APP_NAME,
            year: new Date().getFullYear(),
        }
    },
})
</script>

<template>
    <footer class="main-layout-footer copyright container">
        <p>
            &copy; {{ year }} {{ APP_NAME }}. This is a third party website and is not affiliated with MangaDex.
        </p>
        <p>
            Souce code available on <ExternalLink href="https://github.com/Trinovantes/SimpleDex">GitHub</ExternalLink>
        </p>
    </footer>
</template>

<style lang="scss">
footer.main-layout-footer{
    font-size: 0.9rem;

    &.copyright{
        background: $dark-page;
        color: #999;
        padding-top: ($padding * 1.5);
        padding-bottom: ($padding * 1.5);

        a{
            color: white;
        }

        p{
            margin: math.div($padding, 2) 0;
        }
    }
}
</style>
