<script lang="ts">
import { APP_NAME } from '@/common/Constants'
import { computed, defineAsyncComponent, defineComponent } from 'vue'
import { useUserStore } from '@/web/client/store/User'
import { RouteName } from '@/web/client/router/routes'
import { injectHeaderRefs } from './useHeaderTeleport'

export default defineComponent({
    components: {
        GoToRandomMangaBtn: defineAsyncComponent(() => import('@/web/client/components/Manga/GoToRandomMangaBtn.vue')),
    },

    setup() {
        const userStore = useUserStore()
        const isLoggedIn = computed(() => userStore.isLoggedIn)
        const logout = async() => {
            await userStore.logout()
        }

        const { headerLeftRef, headerRightRef } = injectHeaderRefs()

        return {
            APP_NAME,
            RouteName,

            isLoggedIn,
            logout,

            headerLeftRef,
            headerRightRef,
        }
    },
})
</script>

<template>
    <header class="main-layout-header">
        <nav>
            <q-btn
                :class="{
                    active: $route.name === RouteName.Home
                }"
                flat
                icon="home"
                title="Home"
                :to="{ name: RouteName.Home }"
            />

            <template v-if="isLoggedIn">
                <q-btn
                    :class="{
                        active: $route.name === RouteName.Updates
                    }"
                    flat
                    icon="update"
                    label="Updates"
                    title="Updates"
                    no-caps
                    :to="{ name: RouteName.Updates }"
                />
                <q-btn
                    :class="{
                        active: $route.name === RouteName.Follows
                    }"
                    flat
                    icon="bookmarks"
                    label="Follows"
                    title="Follows"
                    no-caps
                    :to="{ name: RouteName.Follows }"
                />
            </template>

            <q-btn
                :class="{
                    active: $route.name === RouteName.Search
                }"
                flat
                icon="search"
                label="Search"
                title="Search"
                no-caps
                :to="{ name: RouteName.Search }"
            />

            <GoToRandomMangaBtn />

            <div
                ref="headerLeftRef"
                class="flex"
            />

            <div class="hspace" />

            <div
                ref="headerRightRef"
                class="flex"
            />

            <template v-if="isLoggedIn">
                <q-btn
                    flat
                    icon="logout"
                    label="Log Out"
                    title="Log Out"
                    no-caps
                    class="no-right-border"
                    @click="logout"
                />
            </template>
            <template v-else>
                <q-btn
                    flat
                    icon="login"
                    label="Log In"
                    title="Log In"
                    no-caps
                    class="no-right-border"
                    :to="{ name: RouteName.Login }"
                />
            </template>
        </nav>
    </header>
</template>

<style lang="scss">
.main-layout-header{
    background: $grey-2;
    border-bottom: $border;
    line-height: $header-line-height;
    position: fixed;
    top: 0;
    width: 100%; height: $header-height;
    z-index: 1;

    nav{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        height: $header-height;
    }

    .q-btn,
    .q-select{
        border-radius: 0;
        border-right: $border;
        height: $header-btn-size;
    }

    .q-btn{
        padding: 0 $padding;

        &.active{
            background: $dark;
            color: white;
        }

        &.no-right-border{
            border-right: none;
        }

        .q-btn__content{
            justify-content: flex-start;
            flex-wrap: nowrap;
            white-space: nowrap;

            span{
                @media (max-width: $large-mobile-breakpoint) {
                    display: none !important;
                }
            }
        }
    }

    .q-select{
        margin: 0;

        .q-field__control{
            padding: 0 $padding;
        }
    }
}
</style>
