<script lang="ts">
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { computed, defineAsyncComponent, defineComponent, PropType } from 'vue'
import { CreatorType } from './FilterType'

export default defineComponent({
    components: {
        FieldCreator: defineAsyncComponent(() => import('@/web/client/components/Manga/Editor/FieldCreator.vue')),
    },

    props: {
        creatorType: {
            type: Number as PropType<CreatorType>,
            required: true,
        },
    },

    setup(props) {
        const stateKey = computed(() => {
            switch (props.creatorType) {
                case CreatorType.Author: {
                    return 'authors'
                }
                case CreatorType.Artist: {
                    return 'artists'
                }
                default: {
                    // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
                    throw new Error(`creatorType:${props.creatorType} not implemented`)
                }
            }
        })

        const searchFilterStore = useSearchFilterStore()
        const creators = computed<Array<string>>({
            get: () => {
                return searchFilterStore.$state[stateKey.value]
            },
            set: (val) => {
                searchFilterStore.$patch({ [stateKey.value]: val })
            },
        })

        const label = computed<string>(() => {
            switch (props.creatorType) {
                case CreatorType.Author: {
                    return 'Author'
                }
                case CreatorType.Artist: {
                    return 'Artist'
                }
                default: {
                    // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
                    throw new Error(`filterType:${props.creatorType} not implemented`)
                }
            }
        })
        const icon = computed<string>(() => {
            switch (props.creatorType) {
                case CreatorType.Author: {
                    return 'face'
                }
                case CreatorType.Artist: {
                    return 'brush'
                }
                default: {
                    // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
                    throw new Error(`filterType:${props.creatorType} not implemented`)
                }
            }
        })

        return {
            creators,
            label,
            icon,
        }
    },
})
</script>

<template>
    <FieldCreator
        v-model="creators"
        :label="label"
        :icon="icon"
    />
</template>
