<script lang="ts">
import { LANGUAGE_OPTIONS } from '@/common/services/MangaDex/schemas/Language'
import { CONTENT_RATING_OPTIONS, MANGA_STATUS_OPTIONS, PUBLICATION_DEMOGRAPHIC_OPTIONS } from '@/common/services/MangaDex/schemas/Manga'
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { computed, defineComponent, PropType } from 'vue'
import { MetaFilterMap } from './FilterType'

export default defineComponent({
    props: {
        filterType: {
            type: String as PropType<keyof MetaFilterMap>,
            required: true,
        },
    },

    setup(props) {
        const title = computed(() => {
            switch (props.filterType) {
                case 'originalLanguage': {
                    return 'Original Language'
                }
                case 'status': {
                    return 'Manga Status'
                }
                case 'contentRating': {
                    return 'Content Rating'
                }
                case 'publicationDemographic': {
                    return 'Demographic'
                }
                default: {
                    // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
                    throw new Error(`filterType:${props.filterType} not implemented`)
                }
            }
        })

        const options = computed(() => {
            switch (props.filterType) {
                case 'originalLanguage': {
                    return LANGUAGE_OPTIONS
                }
                case 'status': {
                    return MANGA_STATUS_OPTIONS
                }
                case 'contentRating': {
                    return CONTENT_RATING_OPTIONS
                }
                case 'publicationDemographic': {
                    return PUBLICATION_DEMOGRAPHIC_OPTIONS
                }
                default: {
                    // eslint-disable-next-line @typescript-eslint/restrict-template-expressions
                    throw new Error(`filterType:${props.filterType} not implemented`)
                }
            }
        })

        const searchFilterStore = useSearchFilterStore()
        const selectedOptions = computed<MetaFilterMap[typeof props.filterType]>({
            get: () => {
                return searchFilterStore.$state[props.filterType] ?? []
            },
            set: (val) => {
                searchFilterStore.$patch({ [props.filterType]: val })
            },
        })

        return {
            title,
            options,
            selectedOptions,
        }
    },
})
</script>

<template>
    <div>
        <h2>
            {{ title }}
        </h2>

        <q-option-group
            v-model="selectedOptions"
            :options="options"
            type="checkbox"
        />
    </div>
</template>
