<script lang="ts">
import { SortOrder, SORT_ORDER_OPTIONS } from '@/common/services/MangaDex/schemas/SortOrder'
import { MangaSortQuery, useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { computed, defineComponent, PropType } from 'vue'

export default defineComponent({
    props: {
        label: {
            type: String,
            required: true,
        },
        hint: {
            type: String as PropType<string | undefined>,
            default: undefined,
        },
        orderBy: {
            type: String as PropType<keyof MangaSortQuery>,
            required: true,
        },
    },

    setup(props) {
        const searchFilterStore = useSearchFilterStore()
        const sortCreatedAt = computed<SortOrder | null>({
            get: () => {
                return searchFilterStore.$state[props.orderBy] ?? null
            },
            set: (val) => {
                searchFilterStore.$patch({ [props.orderBy]: val ?? undefined })
            },
        })

        return {
            SORT_ORDER_OPTIONS,
            sortCreatedAt,
        }
    },
})
</script>

<template>
    <div class="sort-order">
        <div>
            <q-select
                v-model="sortCreatedAt"
                :options="SORT_ORDER_OPTIONS"
                :label="label"
                :hint="hint"
                emit-value
                outlined
                map-options
                clearable
                hide-bottom-space
            />
        </div>
    </div>
</template>

<style lang="scss">
.sort-order{
    > div{
        display: flex;
        gap: $padding;

        .q-select{
            flex: 1;
        }
    }
}
</style>
