<script lang="ts">
import { Tag, TagSearchMode, TAG_SEARCH_MODE_OPTIONS } from '@/common/services/MangaDex/schemas/Tag'
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { useMangaStore } from '@/web/client/store/Manga'
import { capitalize } from 'lodash'
import { computed, defineComponent, PropType } from 'vue'
import { TagFilterType } from './FilterType'

interface TreeNode {
    label: string
    value?: string
    children?: Array<TreeNode>
    selectable?: boolean
}

export default defineComponent({
    props: {
        filterType: {
            type: Number as PropType<TagFilterType>,
            required: true,
        },
    },

    setup(props) {
        const title = computed(() => props.filterType === TagFilterType.Include ? 'Include Tags' : 'Exclude Tags')
        const tagModeKey = computed(() => props.filterType === TagFilterType.Include ? 'includedTagsMode' : 'excludedTagsMode')
        const tagKey = computed(() => props.filterType === TagFilterType.Include ? 'includedTags' : 'excludedTags')

        const searchFilterStore = useSearchFilterStore()
        const tagMode = computed<TagSearchMode>({
            get: () => {
                return searchFilterStore.$state[tagModeKey.value]
            },
            set: (val) => {
                searchFilterStore.$patch({ [tagModeKey.value]: val })
            },
        })
        const tag = computed<Array<string>>({
            get: () => {
                return searchFilterStore.$state[tagKey.value]
            },
            set: (val) => {
                searchFilterStore.$patch({ [tagKey.value]: val })
            },
        })

        const mangaStore = useMangaStore()
        const tagOptions = computed<Array<TreeNode>>(() => {
            const tagGroups = new Map<string, Array<Tag>>()
            for (const tag of mangaStore.tag.values()) {
                const group = tag.attributes.group
                if (!tagGroups.has(group)) {
                    tagGroups.set(group, [])
                }

                tagGroups.get(group)?.push(tag)
            }

            const tree: Array<TreeNode> = []
            for (const [group, tags] of tagGroups.entries()) {
                const groupNode: TreeNode = {
                    label: capitalize(group),
                    value: group,
                    children: [],
                }

                for (const tag of tags) {
                    const enName = tag.attributes.name.en
                    if (!enName) {
                        continue
                    }

                    groupNode.children?.push({
                        label: enName,
                        value: tag.id,
                        selectable: true,
                    })
                }

                groupNode.children?.sort((a, b) => a.label.localeCompare(b.label))
                tree.push(groupNode)
            }

            return tree
        })

        return {
            title,

            tagMode,
            TAG_SEARCH_MODE_OPTIONS,

            tag,
            tagOptions,
        }
    },
})
</script>

<template>
    <div
        v-if="tagOptions.length > 0"
        class="tag-filter"
    >
        <h2>
            {{ title }}
            <q-btn-toggle
                v-model="tagMode"
                :options="TAG_SEARCH_MODE_OPTIONS"
                no-caps
                unelevated
                rounded
            />
        </h2>

        <q-tree
            ref="treeRef"
            v-model:ticked="tag"
            :nodes="tagOptions"
            node-key="value"
            tick-strategy="leaf"
        />
    </div>
</template>

<style lang="scss">
.tag-filter{
    h2{
        display: flex;
        gap: $padding;
        align-items: center;

        .q-btn-toggle{
            border: 1px solid $primary;
        }
    }
}
</style>
