<script lang="ts">
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { computed, defineComponent } from 'vue'

export default defineComponent({
    emits: {
        search: () => true,
    },

    setup() {
        const searchFilterStore = useSearchFilterStore()
        const title = computed<string | null>({
            get: () => {
                return searchFilterStore.title
            },
            set: (val) => {
                searchFilterStore.title = val ?? ''
            },
        })

        return {
            title,
        }
    },
})
</script>

<template>
    <q-input
        v-model="title"
        outlined
        clearable
        title="Manga Title"
        label="Manga Title"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        debounce="500"
    >
        <template #prepend>
            <q-icon name="search" />
        </template>
    </q-input>
</template>
