<script lang="ts">
import { defineAsyncComponent, defineComponent } from 'vue'
import { TagFilterType, CreatorType } from './Filters/FilterType'

export default defineComponent({
    components: {
        TitleSearch: defineAsyncComponent(() => import('./Filters/TitleSearch.vue')),
        CreatorSearch: defineAsyncComponent(() => import('./Filters/CreatorSearch.vue')),
        SortOrder: defineAsyncComponent(() => import('./Filters/SortOrder.vue')),
        MetaFilter: defineAsyncComponent(() => import('./Filters/MetaFilter.vue')),
        TagFilter: defineAsyncComponent(() => import('./Filters/TagFilter.vue')),
    },

    emits: [
        'reset',
        'submit',
    ],

    setup() {
        return {
            CreatorType,
            TagFilterType,
        }
    },
})
</script>

<template>
    <q-form
        @reset="$emit('reset')"
        @submit="$emit('submit')"
    >
        <TitleSearch />

        <div class="grid-2">
            <CreatorSearch
                :creator-type="CreatorType.Author"
            />
            <CreatorSearch
                :creator-type="CreatorType.Artist"
            />
        </div>

        <div class="grid-4">
            <SortOrder
                order-by="order[year]"
                label="Sort by Publication Year"
                hint="When the manga was published"
            />
            <SortOrder
                order-by="order[createdAt]"
                label="Sort by Creation Date"
                hint="When the manga was added to MangaDex"
            />
            <SortOrder
                order-by="order[latestUploadedChapter]"
                label="Sort by Recent Upload"
                hint="When the manga had a chapter upload"
            />
            <SortOrder
                order-by="order[followedCount]"
                label="Sort by Follows"
                hint="How many people have followed the manga"
            />
        </div>

        <div class="actions">
            <q-btn
                type="reset"
                icon="restart_alt"
                label="Reset Filters"
                title="Reset Filters"
                color="info"
                no-caps
                unelevated
            />
        </div>

        <div class="grid-2">
            <MetaFilter filter-type="originalLanguage" />
            <MetaFilter filter-type="status" />
        </div>
        <div class="grid-2">
            <MetaFilter filter-type="contentRating" />
            <MetaFilter filter-type="publicationDemographic" />
        </div>
        <div class="grid-2">
            <TagFilter :filter-type="TagFilterType.Include" />
            <TagFilter :filter-type="TagFilterType.Exclude" />
        </div>
    </q-form>
</template>
