<script lang="ts">
import { defineComponent, watchEffect, ref, watch, computed, PropType } from 'vue'
import { parsePageParam } from '@/web/client/router/routeParsers'
import { useRouter } from 'vue-router'
import _ from 'lodash'

export default defineComponent({
    props: {
        pageUrls: {
            type: Object as PropType<Array<string>>,
            required: true,
        },
    },

    setup(props) {
        const availablePages = computed(() => _.range(1, props.pageUrls.length + 1))

        const currentPage = ref(1)
        const router = useRouter()
        watchEffect(() => {
            currentPage.value = parsePageParam(router.currentRoute.value)
        })

        watch(currentPage, async(newPage, oldPage) => {
            if (newPage === oldPage) {
                return
            }

            await router.replace({
                params: {
                    ...router.currentRoute.value.params,
                    page: newPage,
                },
            })
        })

        return {
            availablePages,
            currentPage,
        }
    },
})
</script>

<template>
    <q-select
        v-model="currentPage"
        :options="availablePages"
        class="change-page-select"
        popup-content-class="change-page-select"
        label="Page"
        color="dark"
        borderless
        dense
    >
        <template #selected>
            {{ currentPage }} / {{ availablePages.length }}
        </template>

        <template #option="scope">
            <q-item
                v-bind="scope.itemProps"
                :title="`Page ${scope.opt}`"
            >
                <q-item-section>
                    <q-item-label>
                        {{ scope.opt }}
                    </q-item-label>
                </q-item-section>
            </q-item>
        </template>
    </q-select>
</template>

<style lang="scss">
.change-page-select{
    .q-field__control{
        min-width: 100px;
    }

    .q-item{
        &.q-item--active{
            background: $dark;

            .q-item__label,
            .q-item__label--caption{
                color: white;
            }
        }
    }
}
</style>
