<script lang="ts">
import { computed, defineComponent } from 'vue'
import { mapGet } from '@/common/utils/undefinedKeyNoop'
import { Chapter } from '@/common/services/MangaDex/schemas/Chapter'
import { createChapterComparator } from '@/common/services/MangaDex/schemas/ChapterGroup'
import { getRouteArg } from '@/web/client/router/routeParsers'
import { useRouter } from 'vue-router'
import { useMangaStore } from '@/web/client/store/Manga'
import dayjs from 'dayjs'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const router = useRouter()

        const availableChapters = computed<Array<Chapter>>(() => {
            const mangaChapterIds = mapGet(mangaStore.mangaChapters, props.mangaId) ?? []
            const chapters: Array<Chapter> = []

            for (const chapterId of mangaChapterIds) {
                const chapter = mangaStore.chapter.get(chapterId)
                if (!chapter) {
                    continue
                }

                chapters.push(chapter)
            }

            return chapters.sort(createChapterComparator())
        })

        const currentChapterId = computed<string>({
            get: () => {
                const chapterId = getRouteArg(router.currentRoute.value, 'params', 'chapterId')
                return chapterId
            },
            set: (chapterId) => {
                console.info(`Navigating to chapter:${chapterId} with ChangeChapterSelect`)
                const chapterRoute = mangaStore.getChapterRoute(chapterId)
                void router.push(chapterRoute)
            },
        })

        const currentChapterNum = computed(() => mapGet(mangaStore.chapter, currentChapterId.value)?.attributes.chapter)

        const isChapterRead = (chapter: Chapter) => {
            return mangaStore.readChapters.has(chapter.id)
        }
        const getChapterTitle = (chapter: Chapter) => {
            return mangaStore.getChapterTitle(chapter.id)
        }
        const getChapterScanlationGroupName = (chapter: Chapter) => {
            return mangaStore.getChapterScanlationGroup(chapter.id)?.attributes.name
        }
        const getChapterPublishAt = (chapter: Chapter) => {
            return dayjs(chapter.attributes.publishAt).fromNow()
        }

        return {
            availableChapters,
            currentChapterId,
            currentChapterNum,

            isChapterRead,
            getChapterTitle,
            getChapterScanlationGroupName,
            getChapterPublishAt,
        }
    },
})
</script>

<template>
    <q-select
        v-if="availableChapters.length > 0"
        v-model="currentChapterId"
        :options="availableChapters"
        emit-value
        option-value="id"
        class="change-chapter-select"
        popup-content-class="change-chapter-select"
        label="Chapter"
        color="dark"
        borderless
        dense
    >
        <template #selected>
            {{ currentChapterNum }}
        </template>
        <template #option="scope">
            <q-item
                v-bind="scope.itemProps"
                :class="{
                    'is-read': isChapterRead(scope.opt),
                }"
                :title="`Read ${getChapterTitle(scope.opt)}`"
            >
                <q-item-section>
                    <q-item-label>
                        {{ getChapterTitle(scope.opt) }}
                    </q-item-label>
                    <q-item-label caption>
                        {{ getChapterScanlationGroupName(scope.opt) }}
                        ({{ getChapterPublishAt(scope.opt) }})
                    </q-item-label>
                </q-item-section>
            </q-item>
        </template>
    </q-select>
</template>

<style lang="scss">
.change-chapter-select{
    .q-field__control{
        min-width: 100px;
    }

    .q-item{
        &.is-read{
            .q-item__label,
            .q-item__label--caption{
                color: $read-color !important;
                font-style: italic;
            }
        }

        &.q-item--active{
            background: $dark;

            .q-item__label,
            .q-item__label--caption{
                color: white;
                font-style: normal;
            }
        }
    }
}
</style>
