<script lang="ts">
import { mapGet } from '@/common/utils/undefinedKeyNoop'
import { computed, defineComponent, PropType } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { BlobWriter, ZipWriter, HttpReader } from '@zip.js/zip.js'
import { AttributeType, findRelationship } from '@/common/services/MangaDex/schemas/Result'
import { downloadLink } from '@/web/client/utils/downloadLink'
import { getFileExtension } from '@/web/client/utils/getFileExtension'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'

export default defineComponent({
    props: {
        chapterId: {
            type: String,
            required: true,
        },
        pageUrls: {
            type: Object as PropType<Array<string>>,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const mangaId = computed(() => findRelationship(chapter.value, AttributeType.Manga)?.id)
        const mangaTitle = computed(() => mangaId.value && mangaStore.getMangaTitle(mangaId.value))

        const chapter = computed(() => mapGet(mangaStore.chapter, props.chapterId))
        const chapterTitle = computed(() => mangaStore.getChapterTitle(props.chapterId))

        const downloadPages = createLongTaskRunner(async() => {
            if (!chapter.value) {
                throw new Error(`Chapter ${props.chapterId} not found`)
            }

            const blobWriter = new BlobWriter('application/zip')
            const writer = new ZipWriter(blobWriter)
            const requests: Array<ReturnType<ZipWriter['add']>> = []

            const numPagesDigits = Math.floor(Math.log10(props.pageUrls.length)) + 1
            for (let i = 0; i < props.pageUrls.length; i++) {
                const ext = getFileExtension(props.pageUrls[i]) ?? '.jpg'
                const fileName = `${String(i).padStart(numPagesDigits, '0')}.${ext}`
                requests.push(writer.add(fileName, new HttpReader(props.pageUrls[i], { preventHeadRequest: true })))
            }

            await Promise.all(requests)
            await writer.close()

            const blob = blobWriter.getData()
            const fileName = `${mangaTitle.value}-${chapterTitle.value}.zip`
            downloadLink(URL.createObjectURL(blob), fileName)
        })

        return {
            chapterTitle,
            downloadPages,
        }
    },
})
</script>

<template>
    <q-btn
        label="Download"
        :title="`Download ${chapterTitle}`"
        class="overflow-hidden"
        icon="download"
        no-caps
        unelevated
        @click="downloadPages"
    />
</template>
