<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const title = computed(() => mangaStore.getMangaTitle(props.mangaId))
        const route = computed(() => mangaStore.getMangaRoute(props.mangaId))

        return {
            title,
            route,
        }
    },
})
</script>

<template>
    <q-btn
        :label="title"
        :title="`Go to ${title}`"
        class="overflow-hidden"
        icon="book"
        no-caps
        unelevated
        :to="route"
    />
</template>
