<script lang="ts">
import { APP_DESC, APP_NAME } from '@/common/Constants'
import { defineAsyncComponent, defineComponent } from 'vue'
import { useMeta } from 'vue-meta'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'

export default defineComponent({
    components: {
        RecentlyUpdated: defineAsyncComponent(() => import('./RecentlyUpdated.vue')),
        RecentlyAdded: defineAsyncComponent(() => import('./RecentlyAdded.vue')),
        SeasonalMangas: defineAsyncComponent(() => import('./SeasonalMangas.vue')),
    },

    props: {
        page: {
            type: Number,
            required: true,
        },
    },

    setup() {
        useMeta(createPageHeadOptions({
            title: APP_NAME,
            desc: APP_DESC,
        }))
    },
})
</script>

<template>
    <article class="home-page">
        <aside class="left-sidebar">
            <div class="container">
                <RecentlyAdded />
            </div>
        </aside>

        <section class="container">
            <RecentlyUpdated
                :page="page"
            />
        </section>

        <aside class="right-sidebar">
            <div class="container">
                <SeasonalMangas />
            </div>
        </aside>
    </article>
</template>

<style lang="scss">
.home-page{
    flex: 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr minmax(0, $max-page-width) 1fr;

    @media (max-width: $large-mobile-breakpoint) {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: auto;
    }

    aside{
        @media (max-width: $large-mobile-breakpoint) {
            display: none;
        }

        border-left: $border;
        &:first-child{
            border-left: none;
        }

        border-right: $border;
        &:last-child{
            border-right: none;
        }

        .container{
            border-top: $border;

            &:first-child{
                border-top: none;
            }
        }
    }

    .container{
        .manga-list,
        .manga-grid{
            display: grid;
            gap: $padding * 2;
        }

        .manga-grid{
            @media (min-width: $breakpoint-md-min) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: $breakpoint-xl-min) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
</style>
