<script lang="ts">
import { computed, defineAsyncComponent, defineComponent, onMounted, ref, watch } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { ChapterGroup, groupChaptersByManga } from '@/common/services/MangaDex/schemas/ChapterGroup'
import { purgeCachedChaptersFeed } from '@/common/services/MangaDex/chapter'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import { useUserStore } from '@/web/client/store/User'
import { usePagination } from '@/web/client/utils/usePagination'
import { SortOrder } from '@/common/services/MangaDex/schemas/SortOrder'
import { getPaginationQuery } from '@/common/services/MangaDex/utils/getPaginationQuery'
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { QUERY_LIMIT } from '@/common/Constants'

export default defineComponent({
    components: {
        MangaTileWithUpdates: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaTileWithUpdates.vue')),
    },

    props: {
        page: {
            type: Number,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const userStore = useUserStore()
        const searchFilterStore = useSearchFilterStore()
        const newChapters = ref<Array<ChapterGroup>>([])
        const loadNewChapters = createLongTaskRunner(async() => {
            updateMaxPage(0)
            newChapters.value = []

            const accessToken = await userStore.getValidToken()
            const response = await mangaStore.fetchChapters(accessToken, {
                ...getPaginationQuery(currentPage.value - 1, QUERY_LIMIT * 2),
                'order[publishAt]': SortOrder.Descending,
                originalLanguage: searchFilterStore.originalLanguage,
                contentRating: searchFilterStore.contentRating,
            })

            updateMaxPage(response.total)
            newChapters.value = groupChaptersByManga(response.data)
        })

        onMounted(loadNewChapters)

        const purgeCacheAndReloadNewChapters = async() => {
            await purgeCachedChaptersFeed()
            await loadNewChapters()
        }

        const pageProp = computed(() => props.page)
        const { maxPages, currentPage, updateMaxPage } = usePagination(pageProp, QUERY_LIMIT * 2)
        watch(currentPage, loadNewChapters)

        return {
            maxPages,
            currentPage,

            newChapters,
            purgeCacheAndReloadNewChapters,
        }
    },
})
</script>

<template>
    <h1>
        Recently Updated

        <q-btn
            icon="delete"
            label="Clear Cache"
            title="Clear cached data and reload new chapters"
            outline
            no-caps
            @click="purgeCacheAndReloadNewChapters"
        />
    </h1>

    <div class="manga-list">
        <MangaTileWithUpdates
            v-for="chapterGroup of newChapters"
            :key="`${chapterGroup.key}-${chapterGroup.chapterIds[0]}`"
            :chapter-group="chapterGroup"
        />
    </div>

    <q-pagination
        v-if="maxPages > 1"
        v-model="currentPage"
        :max="maxPages"
        :max-pages="5"
        :ellipses="false"
        direction-links
        boundary-links
        color="dark"
    />
</template>
