<script lang="ts">
import { purgeCachedMangas } from '@/common/services/MangaDex/manga'
import { Manga, MangaQuery } from '@/common/services/MangaDex/schemas/Manga'
import { SortOrder } from '@/common/services/MangaDex/schemas/SortOrder'
import { defineAsyncComponent, defineComponent, onMounted, ref } from 'vue'
import { RouteLocationRaw } from 'vue-router'
import { RouteName } from '@/web/client/router/routes'
import { useMangaStore } from '@/web/client/store/Manga'
import { SearchFilterState, useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import { getPaginationQuery } from '@/common/services/MangaDex/utils/getPaginationQuery'

export default defineComponent({
    components: {
        MangaTile: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaTile.vue')),
    },

    setup() {
        const query: Partial<SearchFilterState> = { 'order[createdAt]': SortOrder.Descending }
        const recentlyAddedRoute: RouteLocationRaw = {
            name: RouteName.Search,
            query,
        }

        const mangaStore = useMangaStore()
        const searchFilterStore = useSearchFilterStore()
        const newMangas = ref<Array<Manga>>([])
        const loadNewMangas = async() => {
            newMangas.value = []

            const query: MangaQuery = {
                ...getPaginationQuery(0),
                'order[createdAt]': SortOrder.Descending,
                originalLanguage: searchFilterStore.originalLanguage,
                contentRating: searchFilterStore.contentRating,
            }

            const response = await mangaStore.fetchMangas(query)
            newMangas.value = response.data
        }

        onMounted(loadNewMangas)

        const purgeCacheAndReloadNewMangas = createLongTaskRunner(async() => {
            await purgeCachedMangas()
            await loadNewMangas()
        })

        return {
            recentlyAddedRoute,
            newMangas,
            purgeCacheAndReloadNewMangas,
        }
    },
})
</script>

<template>
    <h1>
        <router-link
            title="View more recently added manga"
            :to="recentlyAddedRoute"
        >
            Recently Added
        </router-link>

        <q-btn
            icon="delete"
            label="Clear Cache"
            title="Clear cached data and reload new manga"
            outline
            no-caps
            @click="purgeCacheAndReloadNewMangas"
        />
    </h1>

    <div class="manga-grid">
        <MangaTile
            v-for="manga of newMangas"
            :key="manga.id"
            :manga-id="manga.id"
            :compact="true"
        >
            <template #default="{ createdAt, createdAtFromNow }">
                <time
                    :datetime="createdAt"
                    :title="createdAt"
                    :style="{
                        fontSize: '13px',
                        lineHeight: '20px',
                    }"
                >
                    Added {{ createdAtFromNow }}
                </time>
            </template>
        </MangaTile>
    </div>
</template>
