<script lang="ts">
import { SEASONAL_LIST_ID } from '@/common/Constants'
import { purgeCachedList } from '@/common/services/MangaDex/customList'
import { Manga } from '@/common/services/MangaDex/schemas/Manga'
import { defineAsyncComponent, defineComponent, onMounted, ref } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'

export default defineComponent({
    components: {
        MangaTile: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaTile.vue')),
    },

    setup() {
        const mangaStore = useMangaStore()
        const seasonalMangas = ref<Array<Manga>>([])
        const loadSeasonalMangas = async() => {
            seasonalMangas.value = []
            seasonalMangas.value = await mangaStore.fetchSeasonalMangas()
        }

        onMounted(loadSeasonalMangas)

        const purgeCacheAndReloadSeasonalMangas = createLongTaskRunner(async() => {
            await purgeCachedList(SEASONAL_LIST_ID)
            await loadSeasonalMangas()
        })

        return {
            seasonalMangas,
            purgeCacheAndReloadSeasonalMangas,
        }
    },
})
</script>

<template>
    <h1 title="Definitely not a mango">
        Seasonal 🥭

        <q-btn
            icon="delete"
            label="Clear Cache"
            title="Clear cached data and reload seasonal manga"
            outline
            no-caps
            @click="purgeCacheAndReloadSeasonalMangas"
        />
    </h1>

    <div class="manga-grid">
        <MangaTile
            v-for="manga of seasonalMangas"
            :key="manga.id"
            :manga-id="manga.id"
            :compact="true"
        />
    </div>
</template>
