<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'
import { useUserStore } from '@/web/client/store/User'
import { fetchUserCheck, UserCheckResponse } from '@/common/services/MangaDex/auth'

export default defineComponent({
    setup() {
        const title = 'Account'
        useMeta(createPageHeadOptions({
            title,
        }))

        const userStore = useUserStore()
        const userCheck = ref<UserCheckResponse | null>(null)
        onMounted(async() => {
            const accessToken = await userStore.getValidToken()
            userCheck.value = await fetchUserCheck(accessToken)
        })

        return {
            title,
            userCheck,
        }
    },
})
</script>

<template>
    <article class="container fixed-width-container">
        <h1>
            {{ title }}
        </h1>

        <pre>{{ userCheck }}</pre>
    </article>
</template>
