@import 'quasar.scss';
@import 'tooltip.scss';

// ----------------------------------------------------------------------------
// General Elements
// ----------------------------------------------------------------------------

:root {
    --q-primary: #{$primary};
    --q-secondary: #{$secondary};
    --q-accent: #{$accent};

    --q-positive: #{$positive};
    --q-negative: #{$negative};
    --q-info: #{$info};
    --q-warning: #{$warning};

    --q-dark: #{$dark};
    --q-dark-page: #{$dark-page};
}

body{
    color: $dark;
    font-size: 1.25rem;
    line-height: 1.618;
}

a:not(.q-btn){
    color: $info;
    text-decoration: none;
    transition: 0.25s;

    &:hover{
        text-decoration: underline;
    }
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.25;
}

h3{
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.25;
}

h4{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.25;
}

h5{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
}

h6{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.25;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol,
.q-form,
.q-field,
.callout{
    margin-top: ($padding * 2);
    margin-bottom: ($padding * 2);

    &:first-child{
        margin-top: 0;
    }

    &:last-child{
        margin-bottom: 0;
    }
}

h2, h3, h4, h5, h6{
    margin-top: ($padding * 4);

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6{
        margin-top: $padding * 2;
    }
}

// ----------------------------------------------------------------------------
// Helper Classes
// ----------------------------------------------------------------------------

.noscript{
    background: $warning;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: $padding;
}

.hspace{
    flex: 1;

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.callout{
    border-left: 5px solid;
    background-color: $light-on-light;
    padding: $padding * 2;

    > *:first-child{
        margin-top: 0;
    }

    > *:last-child{
        margin-bottom: 0;
    }

    &.warning{
        border-left-color: $warning;
        background-color: lighten($warning, 30%);
    }
}

@for $i from 2 through 6 {
    .grid-#{$i} {
        display: grid;
        gap: ($padding * 2) $padding;
        grid-template-columns: repeat($i, 1fr);
    }
}
