// Patch Quasar default styles with modern flexbox
@import 'quasar/dist/quasar.prod.css';

.q-btn__content{
    display: flex;
    gap: math.div($padding, 2) $padding;
    align-content: center;

    i.q-icon{
        margin: 0;
    }
}

.q-field__before{
    display: flex;
    gap: math.div($padding, 2);
    padding-right: $padding;
}

.q-field__after{
    display: flex;
    gap: math.div($padding, 2);
    padding-left: $padding;
}

.q-form{
    display: grid;
    gap: $padding * 2;

    > h2, > h3, > h4, > h5, > h6,
    .q-field{
        margin-top: 0;
        margin-bottom: 0;
    }

    .actions{
        display: flex;
        gap: $padding;

        .q-btn{
            padding: $padding ($padding * 2);
        }
    }
}
