// ----------------------------------------------------------------------------
// App
// ----------------------------------------------------------------------------

$breakpoint-sm-min: 600px;
$breakpoint-md-min: 1024px;
$breakpoint-lg-min: 1440px;
$breakpoint-xl-min: 1920px;

$max-page-width: 1280px;
$mobile-breakpoint: $breakpoint-sm-min - 1px;
$large-mobile-breakpoint: $breakpoint-md-min - 1px;

$padding: 12px;
$column-gap: $padding * 4;
$vspace: $padding * 4;

$header-line-height: 16px;
$header-btn-size: $header-line-height + (2 * $padding);
$header-height: $header-btn-size + (0 * $padding);

// ----------------------------------------------------------------------------
// App Colors
// ----------------------------------------------------------------------------

$light-on-primary: rgba(255, 255, 255, 0.75);
$light-on-dark:    rgba(255, 255, 255, 0.2);
$light-on-light:   #aaa;

$grey-1: #efefef;
$grey-2: #dedede;
$grey-3: #ccc;

$read-color: $grey-3;
$border: 1px solid $light-on-light;

// ----------------------------------------------------------------------------
// Quasar
// ----------------------------------------------------------------------------

$primary   : #ff6740;
$secondary : lighten($primary, 10%);
$accent    : darken($primary, 10%);

$dark-page : #121212;
$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #1976d2;
$warning   : #F2C037;
