<script lang="ts">
import { computed, defineAsyncComponent, defineComponent, onMounted, watch } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'
import { useMangaStore } from '@/web/client/store/Manga'
import { useUserStore } from '@/web/client/store/User'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import axios from 'axios'
import { useRouter } from 'vue-router'
import { RouteName } from '@/web/client/router/routes'
import { Manga } from '@/common/services/MangaDex/schemas/Manga'

export default defineComponent({
    components: {
        FollowBtn: defineAsyncComponent(() => import('@/web/client/components/Manga/FollowBtn.vue')),
        StartReadingBtn: defineAsyncComponent(() => import('@/web/client/components/Manga/StartReadingBtn.vue')),
        InfoTable: defineAsyncComponent(() => import('@/web/client/components/Manga/InfoTable.vue')),
        ChapterList: defineAsyncComponent(() => import('@/web/client/components/Chapter/ChapterList.vue')),
    },

    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const coverUrl = computed(() => mangaStore.getMangaCoverUrl(props.mangaId))

        const userStore = useUserStore()
        const router = useRouter()
        const loadManga = createLongTaskRunner(async() => {
            const accessToken = await userStore.getValidToken()

            let manga: Manga
            try {
                manga = await mangaStore.fetchManga(props.mangaId, accessToken)
            } catch (err) {
                if (!axios.isAxiosError(err)) {
                    return
                }

                if (err.response?.status !== 404) {
                    return
                }

                console.warn(`Redirecting back to home because manga:${props.mangaId} does not exist`)
                await router.push({ name: RouteName.Home })
                return
            }

            console.info(`Fetched manga:${manga.id}`)
        })

        watch(() => props.mangaId, loadManga)
        onMounted(loadManga)

        const title = computed(() => mangaStore.getMangaTitle(props.mangaId))
        const desc = computed(() => mangaStore.getMangaDesc(props.mangaId))
        useMeta(computed(() => {
            return createPageHeadOptions({
                title: title.value,
                desc: desc.value,
            })
        }))

        const refreshData = createLongTaskRunner(async() => {
            await mangaStore.deleteManga(props.mangaId)
            await loadManga()
        })

        return {
            coverUrl,
            refreshData,
        }
    },
})
</script>

<template>
    <article class="manga-page">
        <section class="info container">
            <div>
                <aside class="sticky">
                    <SimpleImage
                        :img="{ src: coverUrl }"
                    />

                    <FollowBtn
                        :manga-id="mangaId"
                    />

                    <StartReadingBtn
                        :manga-id="mangaId"
                    />

                    <q-btn
                        label="Clear Cache"
                        title="Clear cached data and reload information for this manga"
                        color="info"
                        icon="delete"
                        outline
                        no-caps
                        @click="refreshData"
                    />

                    <q-btn
                        icon="open_in_new"
                        label="Open in MangaDex"
                        color="info"
                        outline
                        type="a"
                        :href="`https://mangadex.org/title/${mangaId}`"
                        :title="`https://mangadex.org/title/${mangaId}`"
                        target="_blank"
                        rel="noopener"
                        no-caps
                    />
                </aside>
            </div>

            <div>
                <div>
                    <InfoTable
                        :manga-id="mangaId"
                    />
                </div>
            </div>
        </section>

        <section class="container">
            <ChapterList
                :manga-id="mangaId"
            />
        </section>
    </article>
</template>

<style lang="scss">
.manga-page{
    flex: 1;
    word-break: break-word;

    @media (min-width: $breakpoint-lg-min) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
    }

    > .info{
        display: grid;
        gap: $padding * 2;

        @media (min-width: $breakpoint-sm-min) {
            grid-template-columns: minmax(33%, 256px) auto;
        }

        border-bottom: $border;

        @media (min-width: $breakpoint-lg-min) {
            border-bottom: none;
            border-right: $border;
        }
    }

    .sticky{
        position: sticky;
        top: $header-height + $padding * 2;
    }

    aside{
        display: flex;
        flex-direction: column;
        gap: $padding;
        margin-bottom: $padding * 2;

        .q-btn{
            font-weight: bold;
            padding: $padding;
        }
    }
}
</style>
