<script lang="ts">
import { Language } from '@/common/services/MangaDex/schemas/Language'
import { ContentRating, MangaEditRequest } from '@/common/services/MangaDex/schemas/Manga'
import { computed, defineAsyncComponent, defineComponent, ref } from 'vue'
import { useMeta } from 'vue-meta'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useUserStore } from '@/web/client/store/User'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import { fetchCreateManga } from '@/common/services/MangaDex/mangaCreate'

export default defineComponent({
    components: {
        MangaEditor: defineAsyncComponent(() => import('@/web/client/components/Manga/Editor/MangaEditor.vue')),
    },

    setup() {
        const title = 'New Manga'
        useMeta(createPageHeadOptions({
            title,
        }))

        const mangaRequest = ref<MangaEditRequest>({
            title: {},
            authors: [],
            artists: [],

            description: {},
            links: null,
            altTitles: [],

            originalLanguage: Language.Japanese,
            publicationDemographic: null,
            status: null,
            contentRating: ContentRating.Safe,
            year: null,

            tags: [],

            lastVolume: null,
            lastChapter: null,
            modNotes: null,
            version: 1,
        })

        const coverArtFile = ref<File | null>(null)
        const coverArtFilePreview = computed(() => coverArtFile.value && URL.createObjectURL(coverArtFile.value))

        const userStore = useUserStore()
        const createManga = createLongTaskRunner(async() => {
            const accessToken = await userStore.getValidToken()
            if (!accessToken) {
                throw new Error('Missing accessToken')
            }

            await fetchCreateManga(accessToken, mangaRequest.value, coverArtFile.value)
        })

        return {
            title,
            mangaRequest,
            coverArtFile,
            coverArtFilePreview,
            createManga,
        }
    },
})
</script>

<template>
    <article class="container fixed-width-container">
        <h1>
            {{ title }}
        </h1>

        <MangaEditor
            v-model="mangaRequest"
            @submit="createManga"
        >
            <template #bottom>
                <div>
                    <h2>
                        Cover Art
                    </h2>

                    <q-file
                        v-model="coverArtFile"
                        label="Cover Art"
                        outlined
                        clearable
                    />

                    <img
                        v-if="coverArtFilePreview"
                        :src="coverArtFilePreview"
                        class="cover-art-preview"
                    >
                </div>
            </template>
        </MangaEditor>
    </article>
</template>
