<script lang="ts">
import { computed, defineComponent, watch } from 'vue'
import { ReadingStatus, READING_STATUS_OPTIONS } from '@/common/services/MangaDex/schemas/Manga'
import { useUserStore } from '@/web/client/store/User'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        dark: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const readingStatus = computed<ReadingStatus | null | undefined>({
            get: () => {
                return mangaStore.mangaReadingStatus.get(props.mangaId)
            },
            set: (val) => {
                if (val === undefined) {
                    return
                }

                mangaStore.mangaReadingStatus.set(props.mangaId, val)
            },
        })

        const userStore = useUserStore()
        watch(readingStatus, async(readingStatus, oldReadingStatus) => {
            // Ignore invalid states (should always be defined but map initially does not have value)
            if (readingStatus === undefined || oldReadingStatus === undefined) {
                return
            }

            const accessToken = await userStore.getValidToken()
            await mangaStore.setMangaReadingStatus(props.mangaId, readingStatus, accessToken)
        })

        return {
            readingStatus,
            READING_STATUS_OPTIONS,
        }
    },
})
</script>

<template>
    <q-select
        v-model="readingStatus"
        :options="READING_STATUS_OPTIONS"
        label="Change Reading Status"
        color="info"
        clearable
        filled
        emit-value
        map-options
        :dark="dark"
    />
</template>
