<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const chapterGroups = computed(() => mangaStore.getMangaChapterGroups(props.mangaId))
        const numReadChapterGroups = computed<number>(() => {
            let count = 0

            for (const chapterGroup of chapterGroups.value) {
                const isChapterRead = Boolean(chapterGroup.chapterIds.find((chapterId) => mangaStore.readChapters.has(chapterId)))
                if (!isChapterRead) {
                    continue
                }

                count += 1
            }

            return count
        })

        return {
            chapterGroups,
            numReadChapterGroups,
        }
    },
})
</script>

<template>
    <span
        v-if="chapterGroups.length > 0"
        class="chapter-read-count"
        :title="`You have read ${numReadChapterGroups} chapters out of ${chapterGroups.length}`"
    >
        <span>{{ numReadChapterGroups }}</span>
        /
        <span>{{ chapterGroups.length }}</span>
    </span>
</template>
