<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useUserStore } from '@/web/client/store/User'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        isSmall: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const userStore = useUserStore()
        const isLoggedIn = computed(() => userStore.isLoggedIn)

        const mangaStore = useMangaStore()
        const isFollowed = computed(() => mangaStore.isFollowed.get(props.mangaId))
        const label = computed(() => isFollowed.value ? 'Unfollow' : 'Follow')

        const toggleFollow = async() => {
            const accessToken = await userStore.getValidToken()
            await mangaStore.toggleMangaIsFollowed(props.mangaId, accessToken)
        }

        return {
            isLoggedIn,
            isFollowed,
            label,
            toggleFollow,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="isLoggedIn"
        :round="isSmall"
        :label="isSmall ? undefined : label"
        :title="label"
        :color="isFollowed ? 'primary' : 'info'"
        :icon="isFollowed ? 'bookmark' : 'bookmark_border'"
        no-caps
        unelevated
        @click="toggleFollow"
    />
</template>
