<script lang="ts">
import { defineComponent } from 'vue'
import { RouteName } from '@/web/client/router/routes'
import { useMangaStore } from '@/web/client/store/Manga'
import { useRouter } from 'vue-router'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'

export default defineComponent({
    setup() {
        const mangaStore = useMangaStore()
        const router = useRouter()
        const goToRandomManga = createLongTaskRunner(async() => {
            const randomManga = await mangaStore.fetchManga('random')
            await router.push({
                name: RouteName.Manga,
                params: {
                    mangaId: randomManga.id,
                },
            })
        })

        return {
            goToRandomManga,
        }
    },
})
</script>

<template>
    <q-btn
        flat
        icon="shuffle"
        label="Random"
        title="Go to random manga"
        no-caps
        @click="goToRandomManga"
    />
</template>
