<script lang="ts">
import { computed, defineAsyncComponent, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    components: {
        MangaMyAnimeList: defineAsyncComponent(() => import('./MangaMyAnimeList.vue')),
        MangaStatistics: defineAsyncComponent(() => import('./MangaStatistic.vue')),
        MangaOriginalLanguage: defineAsyncComponent(() => import('./MangaOriginalLanguage.vue')),
        MangaStatus: defineAsyncComponent(() => import('./MangaStatus.vue')),
        MangaContentRating: defineAsyncComponent(() => import('./MangaContentRating.vue')),
        MangaDemographic: defineAsyncComponent(() => import('./MangaDemographic.vue')),
        ChangeReadingStatus: defineAsyncComponent(() => import('./ChangeReadingStatus.vue')),
        RelatedManga: defineAsyncComponent(() => import('./RelatedManga.vue')),
    },

    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const title = computed(() => mangaStore.getMangaTitle(props.mangaId))
        const desc = computed(() => mangaStore.getMangaDesc(props.mangaId))
        const creators = computed(() => mangaStore.getMangaCreators(props.mangaId))

        const status = computed(() => manga.value?.attributes.status)
        const contentRating = computed(() => manga.value?.attributes.contentRating)
        const demographic = computed(() => manga.value?.attributes.publicationDemographic)
        const tagGroups = computed(() => mangaStore.getMangaTags(props.mangaId))
        const readingStatus = computed(() => mangaStore.mangaReadingStatus.get(props.mangaId))

        const altTitles = computed(() => mangaStore.getMangaAltTitles(props.mangaId))
        const officialLinks = computed(() => mangaStore.getMangaOfficialSites(props.mangaId))
        const trackingLinks = computed(() => mangaStore.getMangaTrackingSites(props.mangaId))

        return {
            manga,

            title,
            desc,
            creators,

            status,
            contentRating,
            demographic,
            tagGroups,
            readingStatus,

            officialLinks,
            trackingLinks,
            altTitles,
        }
    },
})
</script>

<template>
    <div class="manga-info">
        <h1 class="manga-title">
            {{ title }}
        </h1>

        <div
            v-if="creators.length > 0"
            class="creators"
        >
            <q-btn
                v-for="creator of creators"
                :key="creator.id"
                :title="creator.title"
                :label="creator.label"
                :to="creator.route"
                :icon="creator.icon"
                rounded
                unelevated
                no-caps
            />
        </div>

        <MangaStatistics
            :manga-id="mangaId"
        />

        <MangaMyAnimeList
            :manga-id="mangaId"
        />

        <table v-if="manga">
            <tr>
                <td>
                    Origin
                </td>
                <td>
                    <MangaOriginalLanguage
                        :manga-id="mangaId"
                    />
                </td>
            </tr>

            <tr v-if="status">
                <td>
                    Status
                </td>
                <td>
                    <MangaStatus
                        :manga-id="mangaId"
                    />
                </td>
            </tr>

            <tr v-if="contentRating">
                <td>
                    Rating
                </td>
                <td>
                    <MangaContentRating
                        :manga-id="mangaId"
                    />
                </td>
            </tr>

            <tr v-if="demographic">
                <td>
                    Demographic
                </td>
                <td>
                    <MangaDemographic
                        :manga-id="mangaId"
                    />
                </td>
            </tr>

            <tr
                v-for="[group, tags] of tagGroups.entries()"
                :key="group"
            >
                <td>
                    {{ group }}
                </td>
                <td class="tags">
                    <q-btn
                        v-for="tag of tags"
                        :key="tag.label"
                        :to="tag.route"
                        :title="tag.label"
                        :label="tag.label"
                        rounded
                        unelevated
                        no-caps
                    />
                </td>
            </tr>

            <tr v-if="readingStatus !== undefined">
                <td>
                    Reading Status
                </td>
                <td>
                    <ChangeReadingStatus
                        :manga-id="mangaId"
                    />
                </td>
            </tr>
        </table>

        <!-- eslint-disable-next-line vue/no-v-html -->
        <div class="desc" v-html="desc" />

        <h2>
            Official Links
        </h2>
        <ul v-if="officialLinks.length > 0">
            <li
                v-for="link of officialLinks"
                :key="link.label"
            >
                <ExternalLink :href="link.url">
                    {{ link.label }}
                </ExternalLink>
            </li>
        </ul>
        <p v-else>
            N/A
        </p>

        <h2>
            Tracking Sites
        </h2>
        <ul v-if="trackingLinks.length > 0">
            <li
                v-for="link of trackingLinks"
                :key="link.label"
            >
                <ExternalLink :href="link.url">
                    {{ link.label }}
                </ExternalLink>
            </li>
        </ul>
        <p v-else>
            N/A
        </p>

        <template v-if="altTitles.length > 0">
            <h2>
                Alternative Names
            </h2>
            <ul>
                <li
                    v-for="altTitle of altTitles"
                    :key="altTitle"
                >
                    {{ altTitle }}
                </li>
            </ul>
        </template>

        <RelatedManga
            :manga-id="mangaId"
        />
    </div>
</template>

<style lang="scss">
.manga-info{
    display: flex;
    flex-direction: column;
    gap: ($padding * 2) 0;

    > *{
        margin: 0;
    }

    h2{
        margin-top: $padding * 2;
    }

    img{
        max-width: 100%;
    }

    .creators{
        display: flex;
        flex-wrap: wrap;
        gap: $padding;
    }

    table{
        border-collapse: collapse;
        width: 100%;

        tr{
            border-top: $border;

            &:last-child{
                border-bottom: $border;
            }
        }

        td{
            padding: $padding 0;

            &:first-child{
                width: 200px;
                font-weight: bold;
            }
        }
    }

    .q-btn{
        background: $grey-2;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: math.div($padding, 2);
    }
}
</style>
