<script lang="ts">
import { computed, defineAsyncComponent, defineComponent, PropType, ref } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { ChapterGroup } from '@/common/services/MangaDex/schemas/ChapterGroup'

export default defineComponent({
    components: {
        ChapterListItem: defineAsyncComponent(() => import('@/web/client/components/Chapter/ChapterListItem.vue')),
    },

    props: {
        chapterGroup: {
            type: Object as PropType<ChapterGroup>,
            required: true,
        },
        initIsFollowed: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaId = computed(() => props.chapterGroup.key)
        const chapterIds = computed(() => props.chapterGroup.chapterIds)

        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(mangaId.value))

        const title = computed(() => mangaStore.getMangaTitle(mangaId.value))
        const desc = computed(() => mangaStore.getMangaDesc(mangaId.value))
        const route = computed(() => mangaStore.getMangaRoute(mangaId.value))
        const coverUrl = computed(() => mangaStore.getMangaCoverUrl(mangaId.value))
        const allChaptersRead = computed(() => chapterIds.value.filter((chapterId) => mangaStore.readChapters.has(chapterId)).length === chapterIds.value.length)

        const infoRef = ref<HTMLDivElement | null>(null)
        const infoWidth = computed(() => `${infoRef.value?.offsetWidth ?? 0}px`)

        return {
            manga,
            mangaId,
            chapterIds,

            title,
            desc,
            route,
            coverUrl,
            allChaptersRead,

            infoRef,
            infoWidth,
        }
    },
})
</script>

<template>
    <div class="manga-tile-with-updates">
        <div>
            <q-tooltip
                v-if="desc"
                anchor="top right"
                self="top left"
                :offset="[0, 0]"
                class="tile-desc-tooltip"
            >
                <!-- eslint-disable-next-line vue/no-v-html-->
                <div :style="{ width: infoWidth }" v-html="desc" />
            </q-tooltip>

            <SimpleImage
                :img="{ src: coverUrl }"
            />
        </div>

        <div
            ref="infoRef"
            class="info"
        >
            <h2
                :class="{
                    'is-read': allChaptersRead,
                }"
            >
                <router-link
                    :to="route"
                    :title="title"
                >
                    {{ title }}
                </router-link>
            </h2>

            <ChapterListItem
                v-for="chapterId of chapterIds"
                :key="chapterId"
                :manga-id="mangaId"
                :chapter-id="chapterId"
            />
        </div>
    </div>
</template>

<style lang="scss">
.manga-tile-with-updates{
    background: white;
    display: grid;
    grid-template-columns: 80px auto;

    @media (min-width: $breakpoint-md-min) {
        grid-template-columns: 100px auto;
    }

    @media (min-width: $breakpoint-lg-min) {
        grid-template-columns: 120px auto;
    }

    @media (min-width: $breakpoint-xl-min) {
        grid-template-columns: 140px auto;
    }

    .info{
        h2{
            background: $dark;
            margin: 0;
            padding: $padding;

            &.is-read{
                background: $read-color;
            }

            a{
                color: white;
            }
        }

        .chapter-list-item{
            border-top: $border;
            padding: $padding;

            &:first-of-type{
                border-top: none;
            }
        }
    }
}
</style>
