<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { RouteName } from '@/web/client/router/routes'
import { RouteLocationRaw, useRoute } from 'vue-router'
import { Language } from '@/common/services/MangaDex/schemas/Language'
import { mapGet } from '@/common/utils/undefinedKeyNoop'
import { SearchFilterState } from '@/web/client/store/SearchFilter'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        isSmall: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const languageMap = new Map(Object.entries(Language).map(([label, val]) => [val, label]))
        const originalLanguage = computed(() => manga.value?.attributes.originalLanguage)
        const originalLanguageLabel = computed(() => mapGet(languageMap, originalLanguage.value) ?? originalLanguage.value?.toUpperCase())
        const originalLanguageFlag = computed(() => mangaStore.getMangaOriginalLanguageFlag(props.mangaId))

        const route = useRoute()
        const currentSearchQuery = (route.name === RouteName.Search) ? route.query : undefined
        const query: Partial<SearchFilterState> = originalLanguage.value === undefined ? {} : { originalLanguage: [originalLanguage.value] }
        const originRoute = computed<RouteLocationRaw>(() => ({
            name: RouteName.Search,
            query: {
                ...currentSearchQuery,
                ...query,
                page: 1,
            },
        }))

        return {
            originalLanguage,
            originalLanguageLabel,
            originalLanguageFlag,
            originRoute,
        }
    },
})
</script>

<template>
    <div
        class="original-language"
    >
        <router-link
            v-if="originalLanguageFlag"
            :title="originalLanguageLabel"
            :to="originRoute"
            class="original-language"
        >
            <img
                v-if="originalLanguageFlag"
                :src="originalLanguageFlag"
            >

            <span v-if="!isSmall">
                {{ originalLanguageLabel }}
            </span>
        </router-link>

        <span
            v-else
            :title="originalLanguageLabel"
        >
            {{ originalLanguageLabel }}
        </span>
    </div>
</template>

<style lang="scss">
.original-language{
    display: flex;
    align-items: center;

    a{
        display: inline-flex;
        gap: $padding;

        img{
            width: 48px;
            height: 30px;
            object-fit: cover;
        }

        span{
            font-weight: bold;
        }
    }
}
</style>
