<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { capitalize } from 'lodash'
import { RouteName } from '@/web/client/router/routes'
import { RouteLocationRaw } from 'vue-router'
import { SearchFilterState } from '@/web/client/store/SearchFilter'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const demographic = computed(() => manga.value?.attributes.publicationDemographic ?? undefined)
        const demographicLabel = computed(() => capitalize(demographic.value))

        const query: Partial<SearchFilterState> = demographic.value === undefined ? {} : { publicationDemographic: [demographic.value] }
        const demographicRoute = computed<RouteLocationRaw>(() => ({
            name: RouteName.Search,
            query: {
                ...query,
                page: 1,
            },
        }))

        return {
            demographic,
            demographicLabel,
            demographicRoute,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="demographic"
        :title="demographicLabel"
        :label="demographicLabel"
        rounded
        unelevated
        no-caps
        :to="demographicRoute"
    />
</template>
