<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { capitalize } from 'lodash'
import { RouteName } from '@/web/client/router/routes'
import { RouteLocationRaw, useRoute } from 'vue-router'
import { SearchFilterState } from '@/web/client/store/SearchFilter'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        isSmall: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const status = computed(() => manga.value?.attributes.status ?? undefined)
        const statusLabel = computed(() => capitalize(status.value))
        const statusIcon = computed(() => mangaStore.getMangaStatusIcon(props.mangaId))
        const statusColor = computed(() => mangaStore.getMangaStatusColor(props.mangaId))

        const route = useRoute()
        const currentSearchQuery = (route.name === RouteName.Search) ? route.query : undefined
        const query: Partial<SearchFilterState> = status.value === undefined ? {} : { status: [status.value] }
        const statusRoute = computed<RouteLocationRaw>(() => ({
            name: RouteName.Search,
            query: {
                ...currentSearchQuery,
                ...query,
                page: 1,
            },
        }))

        return {
            status,
            statusLabel,
            statusIcon,
            statusColor,
            statusRoute,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="status"
        :title="statusLabel"
        :label="isSmall ? undefined : statusLabel"
        :icon="statusIcon"
        :color="statusColor"
        :rounded="!isSmall"
        :round="isSmall"
        unelevated
        no-caps
        :to="statusRoute"
    />
</template>
