<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { fetchFromMal } from '@/common/services/MyAnimeList/fetchFromMal'
import { getSourceUrl, TrackingSite } from '@/common/services/MangaDex/schemas/ExternalSite'
import { MalMangaResponse } from '@/common/services/MyAnimeList/MalMangaResponse'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))
        const malMangaId = computed(() => manga.value?.attributes.links?.mal)
        const malLink = computed(() => malMangaId.value && getSourceUrl(TrackingSite.MyAnimeList, malMangaId.value))

        const mangaData = ref<Partial<MalMangaResponse> | undefined>()
        const loadData = async() => {
            mangaData.value = undefined

            if (!malMangaId.value) {
                return
            }

            mangaData.value = await fetchFromMal(malMangaId.value, [
                'mean',
                'rank',
                'popularity',
                'num_list_users',
            ])
        }

        watch(malMangaId, loadData)
        onMounted(loadData)

        return {
            malLink,
            mangaData,
        }
    },
})
</script>

<template>
    <div
        v-if="mangaData"
        class="manga-mal"
    >
        <div class="score">
            <strong v-if="mangaData.mean">
                {{ mangaData.mean }}
            </strong>
            <strong v-else>
                N/A
            </strong>
            <ExternalLink
                v-if="malLink"
                :href="malLink"
            >
                MyAnimeList
            </ExternalLink>
        </div>

        <div class="ranks">
            <strong v-if="mangaData.rank">
                Rank
            </strong>
            <strong v-else>
                N/A
            </strong>
            <span>
                {{ mangaData.rank }}
            </span>

            <strong v-if="mangaData.popularity">
                Popularity
            </strong>
            <strong v-else>
                N/A
            </strong>
            <span>
                {{ mangaData.popularity }}
            </span>

            <strong v-if="mangaData.num_list_users">
                Members
            </strong>
            <strong v-else>
                N/A
            </strong>
            <span>
                {{ mangaData.num_list_users }}
            </span>
        </div>
    </div>
</template>

<style lang="scss">
.manga-mal{
    $column: (200px - ($padding * 2) * 2);

    display: grid;
    grid-template-columns: $column auto;
    gap: $padding * 2;
    padding: $padding * 2;

    background: #2e51a2;
    color: white;

    @media (max-width: $large-mobile-breakpoint) {
        grid-template-columns: 1fr;
    }

    .score{
        display: flex;
        gap: math.div($padding, 2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: math.div($padding, 2) 0;

        strong{
            font-size: 3rem;
            line-height: 1;
        }

        a{
            color: white;
            font-size: 1rem;
        }
    }

    .ranks{
        align-content: center;
        display: grid;
        gap: math.div($padding, 2) ($padding * 2);
        grid-template-columns: minmax(0, $column - ($padding * 2)) auto;

        @media (max-width: $large-mobile-breakpoint) {
            grid-template-columns: 1fr 1fr;
        }

        strong{
            text-align: right;
        }
    }
}
</style>
