<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { capitalize } from 'lodash'
import { RouteName } from '@/web/client/router/routes'
import { RouteLocationRaw, useRoute } from 'vue-router'
import { SearchFilterState } from '@/web/client/store/SearchFilter'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        isSmall: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const rating = computed(() => manga.value?.attributes.contentRating ?? undefined)
        const ratingLabel = computed(() => capitalize(rating.value))
        const ratingIcon = computed(() => mangaStore.getMangaContentRatingIcon(props.mangaId))
        const ratingColor = computed(() => mangaStore.getMangaContentRatingColor(props.mangaId))

        const route = useRoute()
        const currentSearchQuery = (route.name === RouteName.Search) ? route.query : undefined
        const query: Partial<SearchFilterState> = rating.value === undefined ? {} : { contentRating: [rating.value] }
        const ratingRoute = computed<RouteLocationRaw>(() => ({
            name: RouteName.Search,
            query: {
                ...currentSearchQuery,
                ...query,
                page: 1,
            },
        }))

        return {
            rating,
            ratingLabel,
            ratingRoute,
            ratingIcon,
            ratingColor,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="rating"
        :title="ratingLabel"
        :label="isSmall ? undefined : ratingLabel"
        :icon="ratingIcon"
        :color="ratingColor"
        :rounded="!isSmall"
        :round="isSmall"
        unelevated
        no-caps
        :to="ratingRoute"
    />
</template>
