<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from 'vue'
import { SingleMangaStatistic } from '@/common/services/MangaDex/schemas/Statistics'
import { fetchMangaStatisticsByIds } from '@/common/services/MangaDex/statistic'
import _ from 'lodash'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaId = computed(() => props.mangaId)
        const mangaStatistic = ref<SingleMangaStatistic | undefined>()
        const loadData = async() => {
            mangaStatistic.value = undefined

            if (!mangaId.value) {
                return
            }

            const statistics = await fetchMangaStatisticsByIds([mangaId.value])
            mangaStatistic.value = statistics[mangaId.value]
        }

        watch(mangaId, loadData)
        onMounted(loadData)

        const rating = computed(() => mangaStatistic.value?.rating.average)
        const ratingStr = computed(() => new Intl.NumberFormat(undefined, { maximumFractionDigits: 2 }).format(rating.value ?? 0))
        const followsCount = computed(() => mangaStatistic.value?.follows ?? 0)
        const ratingsCount = computed(() => _.sum(Object.values(mangaStatistic.value?.rating.distribution ?? {})))

        return {
            mangaStatistic,
            rating,
            ratingStr,
            followsCount,
            ratingsCount,
        }
    },
})
</script>

<template>
    <div
        v-if="mangaStatistic"
        class="manga-statistic"
    >
        <div class="score">
            <strong v-if="rating">
                {{ ratingStr }}
            </strong>
            <strong v-else>
                N/A
            </strong>
            <ExternalLink
                :href="`https://mangadex.org/title/${mangaId}`"
            >
                MangaDex
            </ExternalLink>
        </div>

        <div class="ranks">
            <strong>
                Ratings
            </strong>
            <span>
                {{ ratingsCount }}
            </span>
            <strong>
                Follows
            </strong>
            <span>
                {{ followsCount }}
            </span>
        </div>
    </div>
</template>

<style lang="scss">
.manga-statistic{
    $column: (200px - ($padding * 2) * 2);

    display: grid;
    grid-template-columns: $column auto;
    gap: $padding * 2;
    padding: $padding * 2;

    background: $primary;
    color: white;

    @media (max-width: $large-mobile-breakpoint) {
        grid-template-columns: 1fr;
    }

    .score{
        display: flex;
        gap: math.div($padding, 2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: math.div($padding, 2) 0;

        strong{
            font-size: 3rem;
            line-height: 1;
        }

        a{
            color: white;
            font-size: 1rem;
        }
    }

    .ranks{
        align-content: center;
        display: grid;
        gap: math.div($padding, 2) ($padding * 2);
        grid-template-columns: minmax(0, $column - ($padding * 2)) auto;

        @media (max-width: $large-mobile-breakpoint) {
            grid-template-columns: 1fr 1fr;
        }

        strong{
            text-align: right;
        }
    }
}
</style>
