<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import dayjs from 'dayjs'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        compact: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()

        const title = computed(() => mangaStore.getMangaTitle(props.mangaId))
        const desc = computed(() => mangaStore.getMangaDesc(props.mangaId))
        const route = computed(() => mangaStore.getMangaRoute(props.mangaId))
        const coverUrl = computed(() => mangaStore.getMangaCoverUrl(props.mangaId))

        const createdAt = computed(() => mangaStore.manga.get(props.mangaId)?.attributes.createdAt)
        const createdAtFromNow = computed(() => dayjs(createdAt.value).fromNow())

        const tileRef = ref<HTMLDivElement | null>(null)
        const tileWidth = computed(() => {
            const w = tileRef.value?.offsetWidth ?? 0
            let multiplier = 1

            if (w < 100) {
                multiplier = 4
            } else if (w < 300) {
                multiplier = 3
            } else if (w < 600) {
                multiplier = 2
            }

            return `${w * multiplier}px`
        })

        return {
            title,
            desc,
            route,
            coverUrl,
            createdAt,
            createdAtFromNow,

            tileRef,
            tileWidth,
        }
    },
})
</script>

<template>
    <div
        ref="tileRef"
        class="manga-tile"
        :data-manga-id="mangaId"
    >
        <div class="info">
            <SimpleImage
                :img="{ src: coverUrl }"
                :title="title"
            />

            <div>
                <router-link
                    :to="route"
                >
                    <q-tooltip
                        v-if="desc"
                        anchor="top right"
                        self="top left"
                        class="tile-desc-tooltip"
                        :offset="[0, 0]"
                    >
                        <!-- eslint-disable-next-line vue/no-v-html-->
                        <div :style="{ 'max-width': tileWidth }" v-html="desc" />
                    </q-tooltip>

                    <span :class="{compact}">
                        <strong>
                            {{ title }}
                        </strong>
                    </span>
                </router-link>
            </div>
        </div>

        <div
            v-if="$slots.default"
            class="actions"
        >
            <slot
                :mangaId="mangaId"
                :createdAt="createdAt"
                :createdAtFromNow="createdAtFromNow"
            />
        </div>
    </div>
</template>

<style lang="scss">
.manga-tile{
    .info{
        background: white;
        position: relative;

        a{
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;

            display: flex;
            flex-direction: column;

            text-decoration: none;

            span{
                $lines: 2;
                $label-padding: $padding * 2;
                $line-height: $padding * 2.5;

                color: white;
                line-height: $line-height;

                background: rgba($dark, 0.8);
                display: block;
                margin-top: auto;
                max-height: ($line-height * $lines) + ($label-padding * 2);
                padding: $label-padding;
                transition: 0.25s;

                &.compact{
                    font-size: 13px;
                    line-height: 20px;
                    padding: math.div($label-padding, 2);
                }

                strong{
                    overflow: hidden;
                    display: block;
                    width: 100%; height: 100%;
                }
            }

            &:hover{
                span{
                    background: $dark;
                }
            }
        }
    }

    .actions{
        background: $dark;
        display: flex;
        gap: $padding;
        align-items: center;
        justify-content: space-between;
        padding: $padding;

        color: grey;
        font-size: 1rem;
        font-weight: bold;

        > .group{
            display: flex;
            gap: $padding;
            align-items: center;
        }
    }
}
</style>
