<script lang="ts">
import { computed, defineAsyncComponent, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { AttributeType, findAllRelationships } from '@/common/services/MangaDex/schemas/Result'
import { MANGA_RELATIONSHIP_TYPE_OPTIONS } from '@/common/services/MangaDex/schemas/Manga'

export default defineComponent({
    components: {
        MangaTile: defineAsyncComponent(() => import('./MangaTile.vue')),
    },

    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))
        const relatedMangaGroups = computed(() => {
            const relatedMangaGroups = new Map<string, Array<string>>()

            const relatedMangas = findAllRelationships(manga.value, AttributeType.Manga)
            for (const relatedManga of relatedMangas) {
                if (relatedManga.id === props.mangaId) {
                    continue
                }

                const relatedMangaName = MANGA_RELATIONSHIP_TYPE_OPTIONS.find(({ value }) => value === relatedManga.related)?.label
                if (!relatedMangaName) {
                    continue
                }

                if (!relatedMangaGroups.has(relatedMangaName)) {
                    relatedMangaGroups.set(relatedMangaName, [])
                }

                relatedMangaGroups.get(relatedMangaName)?.push(relatedManga.id)
            }

            return relatedMangaGroups
        })

        return {
            relatedMangaGroups,
        }
    },
})
</script>

<template>
    <template
        v-for="[relatedMangaName, mangaIds] of relatedMangaGroups.entries()"
        :key="relatedMangaName"
    >
        <h2>
            {{ relatedMangaName }}
        </h2>

        <div class="related-manga-grid">
            <MangaTile
                v-for="relatedMangaId of mangaIds"
                :key="relatedMangaId"
                :manga-id="relatedMangaId"
            />
        </div>
    </template>
</template>

<style lang="scss">
.related-manga-grid{
    display: grid;
    gap: $padding * 2;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $breakpoint-md-min) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $breakpoint-xl-min) {
        grid-template-columns: repeat(4, 1fr);
    }
}
</style>
