<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { useRouter } from 'vue-router'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        isSmall: {
            type: Boolean,
            default: false,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const mangaHasChapters = computed(() => Boolean(mangaStore.mangaChapters.get(props.mangaId)?.size))
        const nextChapterIdToRead = computed(() => mangaStore.getMangaNextChapterToRead(props.mangaId))

        const label = 'Start Reading'
        const tooltip = computed<string>(() => {
            if (!nextChapterIdToRead.value) {
                return "You've already read the latest chapter"
            }

            return `Read ${mangaStore.getChapterTitle(nextChapterIdToRead.value)}`
        })

        const router = useRouter()
        const startReading = () => {
            if (!nextChapterIdToRead.value) {
                throw new Error('No chapter available to read')
            }

            const chapterRoute = mangaStore.getChapterRoute(nextChapterIdToRead.value)
            void router.push(chapterRoute)
        }

        return {
            mangaHasChapters,
            nextChapterIdToRead,
            label,
            tooltip,
            startReading,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="mangaHasChapters"
        :round="isSmall"
        :label="isSmall ? undefined : label"
        :title="tooltip"
        color="positive"
        icon="auto_stories"
        no-caps
        unelevated
        :disable="!nextChapterIdToRead"
        @click="startReading"
    />
</template>
