<script lang="ts">
import { ResponsiveImage } from '@/web/client/utils/ResponsiveLoader'
import { computed, defineComponent, onBeforeUnmount, onMounted, PropType, ref, watch } from 'vue'

export default defineComponent({
    props: {
        img: {
            type: Object as PropType<ResponsiveImage>,
            required: true,
        },
        title: {
            type: String as PropType<string | undefined>,
            default: undefined,
        },
        alt: {
            type: String as PropType<string | undefined>,
            default: undefined,
        },
        width: {
            type: Number as PropType<number | undefined>,
            default: undefined,
        },
        height: {
            type: Number as PropType<number | undefined>,
            default: undefined,
        },
        aspectRatio: {
            type: Number,
            default: 1.618,
        },
    },

    setup(props) {
        // Set up intersection observer
        const containerRef = ref<HTMLDivElement | null>(null)
        const hasScrolledIntoView = ref(false)
        {
            let observer: IntersectionObserver | null = null
            onMounted(() => {
                if (!containerRef.value) {
                    throw new Error('Cannot find containerRef')
                }

                observer = new IntersectionObserver((entries) => {
                    if (!entries[0].isIntersecting) {
                        return
                    }

                    hasScrolledIntoView.value = true
                    observer?.disconnect()
                })
                observer.observe(containerRef.value)
            })
            onBeforeUnmount(() => {
                observer?.disconnect()
            })
        }

        // Set up image loading
        const imageRef = ref<HTMLImageElement | null>(null)
        const isReady = ref(false)
        const checkIsReady = () => {
            if (!imageRef.value) {
                return
            }

            isReady.value = imageRef.value.complete
            imageRef.value.onload = () => (isReady.value = true)
        }
        onMounted(() => {
            watch(imageRef, checkIsReady)
            checkIsReady()
        })

        const paddingTop = computed<string>(() => {
            const h = props.height ?? props.height
            if ((h ?? 0) > 0) {
                return `${h}px`
            } else {
                return `${props.aspectRatio * 100}%`
            }
        })

        return {
            containerRef,
            imageRef,

            hasScrolledIntoView,
            isReady,
            paddingTop,
        }
    },
})
</script>

<template>
    <div
        ref="containerRef"
        class="simple-image"
    >
        <div
            v-if="hasScrolledIntoView && img.src"
            class="img-container"
        >
            <img
                ref="imageRef"
                :src="img.src"
                :width="(width ?? img.width) || undefined"
                :height="(height ?? img.height) || undefined"
                :title="title"
                :alt="alt ?? title"
                loading="lazy"
                referrerpolicy="no-referrer"
            >
        </div>

        <q-skeleton
            v-else
            type="rect"
        />
    </div>
</template>

<style lang="scss">
.simple-image{
    position: relative;
    padding-top: v-bind(paddingTop);

    .img-container,
    .q-skeleton{
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

    .img-container{
        img{
            display: block;
            object-fit: cover;
            width: 100%; height: 100%;
        }
    }
}
</style>
