<script lang="ts">
import { computed, defineAsyncComponent, defineComponent, onMounted, ref, watch } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { Manga } from '@/common/services/MangaDex/schemas/Manga'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import { usePagination } from '@/web/client/utils/usePagination'
import { purgeCachedMangas } from '@/common/services/MangaDex/manga'
import { useSearchFilterStore } from '@/web/client/store/SearchFilter'
import { purgeCachedAuthors } from '@/common/services/MangaDex/author'
import { useRoute } from 'vue-router'
import { getPaginationQuery } from '@/common/services/MangaDex/utils/getPaginationQuery'
import { RouteName } from '@/web/client/router/routes'
import { useSearchFilterSyncQuery } from '@/web/client/store/SearchFilter/useSearchFilterSyncQuery'

export default defineComponent({
    components: {
        MangaSearch: defineAsyncComponent(() => import('@/web/client/components/Manga/Search/MangaSearch.vue')),
        MangaTile: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaTile.vue')),
        MangaOriginalLanguage: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaOriginalLanguage.vue')),
        MangaStatus: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaStatus.vue')),
        MangaContentRating: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaContentRating.vue')),
    },

    props: {
        page: {
            type: Number,
            required: true,
        },
    },

    setup(props) {
        const title = 'Search'
        useMeta(createPageHeadOptions({
            title,
        }))

        const mangaStore = useMangaStore()
        const searchFilterStore = useSearchFilterStore()

        const pageProp = computed(() => props.page)
        const { maxPages, currentPage, updateMaxPage } = usePagination(pageProp)

        const mangas = ref<Array<Manga>>([])
        const loadMangas = createLongTaskRunner(async() => {
            // Since loadManga is triggered on routeQuery change, it also gets triggered when we navigate away from SearchPage
            // This prevents search from referencing soon-to-be unmounted components
            if (route.name !== RouteName.Search) {
                return
            }

            updateMaxPage(0)
            mangas.value = []

            // Normally a noop if tags map is non-empty
            await mangaStore.fetchTags()

            const query = searchFilterStore.exportToQuery()
            const response = await mangaStore.fetchMangas({
                ...getPaginationQuery(currentPage.value - 1),
                ...query,
                hasAvailableChapters: '1',
            })

            updateMaxPage(response.total)
            mangas.value = response.data
        })

        useSearchFilterSyncQuery()

        const route = useRoute()
        const routeQuery = computed(() => route.query)
        watch(routeQuery, loadMangas, { deep: true })
        onMounted(loadMangas)

        const runSearch = async() => {
            currentPage.value = 1
            await loadMangas()
        }
        const resetFilters = () => {
            searchFilterStore.$reset()
        }
        const purgeCacheAndReload = async() => {
            await Promise.all([
                purgeCachedAuthors(),
                purgeCachedMangas(),
                mangaStore.deleteTags(),
            ])
            await loadMangas()
        }

        return {
            title,
            maxPages,
            currentPage,
            mangas,
            runSearch,
            resetFilters,
            purgeCacheAndReload,
        }
    },
})
</script>

<template>
    <article class="search-page">
        <aside class="container">
            <h1>
                {{ title }}

                <q-btn
                    icon="delete"
                    label="Clear Cache"
                    title="Clear cached data and reload information for this page"
                    outline
                    no-caps
                    @click="purgeCacheAndReload"
                />
            </h1>

            <MangaSearch
                @submit="runSearch"
                @reset="resetFilters"
            />
        </aside>

        <section class="container">
            <div class="manga-grid">
                <MangaTile
                    v-for="manga of mangas"
                    :key="manga.id"
                    :manga-id="manga.id"
                    :height="400"
                >
                    <template #default="{ mangaId }">
                        <div class="group">
                            <MangaStatus
                                :manga-id="mangaId"
                                :is-small="true"
                            />

                            <MangaContentRating
                                :manga-id="mangaId"
                                :is-small="true"
                            />
                        </div>

                        <MangaOriginalLanguage
                            :manga-id="mangaId"
                            :is-small="true"
                        />
                    </template>
                </MangaTile>
            </div>

            <q-pagination
                v-if="maxPages > 1"
                v-model="currentPage"
                :max="maxPages"
                :max-pages="5"
                :ellipses="false"
                direction-links
                boundary-links
                color="dark"
            />
        </section>
    </article>
</template>

<style lang="scss">
.search-page{
    flex: 1;

    $one-column: '(max-width: #{$breakpoint-md-min - 1})';
    $two-columns: '(min-width: #{$breakpoint-md-min})';

    @media #{$two-columns} {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 2fr;
    }

    .manga-grid{
        display: grid;
        gap: $padding * 2;

        @media #{$one-column} {
            grid-template-columns: repeat(1, 1fr);
        }
        @media #{$one-column} and (min-width: $breakpoint-sm-min) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$two-columns} {
            grid-template-columns: repeat(2, 1fr);
        }
        @media #{$two-columns} and (min-width: $breakpoint-lg-min) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media #{$two-columns} and (min-width: $breakpoint-xl-min) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    aside{
        border-bottom: $border;

        @media #{$two-columns} {
            border: none;
            border-right: $border;
        }
    }
}
</style>
