<script lang="ts">
import { defineComponent } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'

export default defineComponent({
    setup() {
        const title = '404: Page Not Found'
        useMeta(createPageHeadOptions({
            title,
        }))

        return {
            title,
        }
    },
})
</script>

<template>
    <article class="error-404">
        <h1>
            <q-icon name="error" />
            {{ title }}
        </h1>
    </article>
</template>

<style lang="scss">
.error-404{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
