<script lang="ts">
import { computed, defineComponent, defineAsyncComponent } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'
import { useMangaStore } from '@/web/client/store/Manga'
import { AttributeType, findRelationship } from '@/common/services/MangaDex/schemas/Result'

export default defineComponent({
    components: {
        MangaReader: defineAsyncComponent(() => import('@/web/client/components/Manga/Reader/MangaReader.vue')),
    },

    props: {
        chapterId: {
            type: String,
            required: true,
        },
        page: {
            type: Number,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const chapter = computed(() => mangaStore.chapter.get(props.chapterId))
        const mangaId = computed(() => findRelationship(chapter.value, AttributeType.Manga)?.id)
        const title = computed<string>(() => {
            const chapterTitle = mangaStore.getChapterTitle(props.chapterId)

            let title = `Page ${props.page} | ${chapterTitle}`
            if (mangaId.value) {
                const mangaTitle = mangaStore.getMangaTitle(mangaId.value)
                title += ` | ${mangaTitle}`
            }

            return title
        })

        useMeta(computed(() => {
            return createPageHeadOptions({
                title: title.value,
            })
        }))
    },
})
</script>

<template>
    <div class="reader-page">
        <MangaReader
            :chapter-id="chapterId"
            :page="page"
        />
    </div>
</template>
