<script lang="ts">
import { computed, defineAsyncComponent, defineComponent, onMounted, ref, watch } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'
import { useUserStore } from '@/web/client/store/User'
import { useMangaStore } from '@/web/client/store/Manga'
import { ChapterGroup, groupChaptersByManga } from '@/common/services/MangaDex/schemas/ChapterGroup'
import { purgeCachedUserFollowsFeed } from '@/common/services/MangaDex/follows'
import { createLongTaskRunner } from '@/web/client/utils/createLongTaskRunner'
import { usePagination } from '@/web/client/utils/usePagination'
import { getPaginationQuery } from '@/common/services/MangaDex/utils/getPaginationQuery'
import { SortOrder } from '@/common/services/MangaDex/schemas/SortOrder'
import { QUERY_LIMIT } from '@/common/Constants'

export default defineComponent({
    components: {
        MangaTileWithUpdates: defineAsyncComponent(() => import('@/web/client/components/Manga/MangaTileWithUpdates.vue')),
    },

    props: {
        page: {
            type: Number,
            required: true,
        },
    },

    setup(props) {
        const title = 'Updates'
        useMeta(createPageHeadOptions({
            title,
        }))

        const pageProp = computed(() => props.page)
        const { maxPages, currentPage, updateMaxPage } = usePagination(pageProp, QUERY_LIMIT * 2)

        const mangaStore = useMangaStore()
        const userStore = useUserStore()
        const chapterGroups = ref<Array<ChapterGroup>>([])
        const loadChapters = createLongTaskRunner(async() => {
            updateMaxPage(0)
            chapterGroups.value = []

            const accessToken = await userStore.getValidToken()
            const response = await mangaStore.fetchUserFollowedMangasFeed(accessToken, {
                ...getPaginationQuery(currentPage.value - 1, QUERY_LIMIT * 2),
                'order[publishAt]': SortOrder.Descending,
            })

            updateMaxPage(response.total)
            chapterGroups.value = groupChaptersByManga(response.data)
        })

        watch(currentPage, loadChapters)
        onMounted(loadChapters)

        const purgeCacheAndReload = async() => {
            await purgeCachedUserFollowsFeed()
            await loadChapters()
        }

        return {
            title,
            maxPages,
            currentPage,
            chapterGroups,
            purgeCacheAndReload,
        }
    },
})
</script>

<template>
    <article class="updates-page container fixed-width-container">
        <h1>
            {{ title }}

            <q-btn
                icon="delete"
                label="Clear Cache"
                title="Clear cached data and reload information for this page"
                outline
                no-caps
                @click="purgeCacheAndReload"
            />
        </h1>

        <section>
            <MangaTileWithUpdates
                v-for="chapterGroup of chapterGroups"
                :key="`${chapterGroup.key}-${chapterGroup.chapterIds[0]}`"
                :chapter-group="chapterGroup"
            />
        </section>

        <q-pagination
            v-if="maxPages > 1"
            v-model="currentPage"
            :max="maxPages"
            :max-pages="5"
            :ellipses="false"
            direction-links
            boundary-links
            color="dark"
        />
    </article>
</template>

<style lang="scss">
.updates-page{
    section{
        display: flex;
        flex-direction: column;
        gap: $padding * 2;
    }
}
</style>
