<script lang="ts">
import { defineComponent } from 'vue'
import { fetchPingMangaDex, fetchPingProxy } from '@/common/services/MangaDex/ping'
export default defineComponent({
    async setup() {
        const [canReachMangadex, canReachProxy] = await Promise.all([
            fetchPingMangaDex(),
            fetchPingProxy(),
        ])

        return {
            canReachMangadex,
            canReachProxy,
        }
    },
})
</script>

<template>
    <div
        v-if="!canReachMangadex && canReachProxy"
        class="ping-warning"
    >
        <q-icon
            name="cloud_off"
            size="96px"
        />

        <div>
            <p>
                This website pulls on data from MangaDex but your web browser cannot reach <code>mangadex.org</code>.
                It is likely that <strong>your ISP (e.g. Verizon) is blocking MangaDex's IP address</strong>.
            </p>

            <p>
                You will need to get a <strong>VPN</strong> to access MangaDex.
                This is why <ExternalLink href="https://www.eff.org/issues/net-neutrality">Net Neutrality</ExternalLink> is important.
            </p>
        </div>
    </div>
</template>

<style lang="scss">
.ping-warning{
    background: $negative;
    display: flex;
    align-items: center;
    gap: $padding * 4;
    padding: $padding * 4;

    color: $grey-1;
    font-size: 2rem;
    line-height: 1.25;

    strong,
    a{
        font-weight: bold;
        color: white;
    }
}
</style>
