<script lang="ts">
import { QForm, useQuasar } from 'quasar'
import { computed, defineComponent, ref } from 'vue'
import { useUserStore } from '@/web/client/store/User'
import axios from 'axios'

export default defineComponent({
    setup() {
        const username = ref<string | null>(null)
        const password = ref<string | null>(null)

        const userStore = useUserStore()
        const remember = computed({
            get: () => {
                return userStore.remember
            },
            set: () => {
                userStore.toggleRemember()
            },
        })

        const $q = useQuasar()
        const formRef = ref<QForm | null>(null)
        const login = async() => {
            if (!formRef.value) {
                throw new Error('Failed to find formRef')
            }

            if (!await formRef.value.validate()) {
                return
            }

            try {
                await userStore.login({
                    username: username.value ?? '',
                    password: password.value ?? '',
                })
            } catch (err) {
                if (axios.isAxiosError(err) && err.response) {
                    const status = err.response.status

                    if (status >= 400 && status < 500) {
                        $q.notify({
                            message: 'Invalid username/password',
                            type: 'negative',
                            position: 'top',
                        })

                        return
                    }
                }

                throw err
            }
        }

        return {
            username,
            password,
            remember,
            formRef,
            login,
        }
    },
})
</script>

<template>
    <q-form
        ref="formRef"
        class="login-form"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
    >
        <q-input
            v-model="username"
            outlined
            label="Username"
            hide-bottom-space
            lazy-rules="ondemand"
            :rules="[
                (val: string) => Boolean(val) || 'Field is required',
                (val: string) => val.length >= 1 || 'Username must have at least 1 character',
            ]"
        />

        <q-input
            v-model="password"
            outlined
            label="Password"
            type="password"
            hide-bottom-space
            lazy-rules="ondemand"
            :rules="[
                (val: string) => Boolean(val) || 'Field is required',
                (val: string) => val.length >= 8 || 'Password must have at least 8 characters',
            ]"
        />

        <q-checkbox
            v-model="remember"
            label="Remember Me"
        />

        <q-btn
            unelevated
            class="login-btn"
            color="primary"
            text-color="white"
            label="Log In"
            no-caps
            @click="login"
        />

        <p class="forgot-link">
            <ExternalLink href="https://mangadex.org/forgot">
                Forgot username/password?
            </ExternalLink>
        </p>
    </q-form>
</template>

<style lang="scss">
.login-form{
    $gap: math.div($vspace, 2);

    display: flex;
    flex-direction: column;
    gap: $gap;

    border: 1px solid $light-on-light;
    margin-left: auto;
    margin-right: auto;
    padding: $vspace;
    width: 600px;

    .q-field{
        margin: 0;
    }

    .login-btn{
        font-weight: bold;
        padding: $padding 0;
    }

    p.forgot-link{
        margin: 0;
        margin-top: $vspace - $gap;
        text-align: center;
    }
}
</style>
