<script lang="ts">
import { defineAsyncComponent, defineComponent } from 'vue'
import { createPageHeadOptions } from '@/web/client/utils/PageHeadOptions'
import { useMeta } from 'vue-meta'

export default defineComponent({
    components: {
        LoginForm: defineAsyncComponent(() => import('./LoginForm.vue')),
    },

    setup() {
        useMeta(createPageHeadOptions({
            title: 'Log In',
        }))
    },
})
</script>

<template>
    <article class="login-page">
        <LoginForm />
    </article>
</template>

<style lang="scss">
.login-page{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
