<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    emits: [
        'markAsRead',
        'markAsUnread',
        'markLaterAsRead',
        'markLaterAsUnread',
        'markOlderAsRead',
        'markOlderAsUnread',
    ],
})
</script>

<template>
    <q-menu>
        <q-list class="chapter-menu">
            <q-item
                v-close-popup
                clickable
                @click="$emit('markAsRead')"
            >
                <q-item-section>
                    <span>
                        Mark as <strong>Read</strong>
                    </span>
                </q-item-section>
            </q-item>

            <q-item
                v-close-popup
                clickable
                @click="$emit('markAsUnread')"
            >
                <q-item-section>
                    <span>
                        Mark as <strong>Unread</strong>
                    </span>
                </q-item-section>
            </q-item>

            <q-separator />

            <q-item
                v-close-popup
                clickable
                @click="$emit('markLaterAsRead')"
            >
                <q-item-section>
                    <span>
                        Mark later chapters as <strong>Read</strong>
                    </span>
                </q-item-section>
            </q-item>

            <q-item
                v-close-popup
                clickable
                @click="$emit('markLaterAsUnread')"
            >
                <q-item-section>
                    <span>
                        Mark later chapters as <strong>Unread</strong>
                    </span>
                </q-item-section>
            </q-item>

            <q-separator />

            <q-item
                v-close-popup
                clickable
                @click="$emit('markOlderAsRead')"
            >
                <q-item-section>
                    <span>
                        Mark older chapters as <strong>Read</strong>
                    </span>
                </q-item-section>
            </q-item>

            <q-item
                v-close-popup
                clickable
                @click="$emit('markOlderAsUnread')"
            >
                <q-item-section>
                    <span>
                        Mark older chapters as <strong>Unread</strong>
                    </span>
                </q-item-section>
            </q-item>
        </q-list>
    </q-menu>
</template>
