<script lang="ts">
import { ChapterGroup } from '@/common/services/MangaDex/schemas/ChapterGroup'
import { computed, defineAsyncComponent, defineComponent } from 'vue'
import { useUserStore } from '@/web/client/store/User'
import { useMangaStore } from '@/web/client/store/Manga'

export default defineComponent({
    components: {
        ChapterReadCount: defineAsyncComponent(() => import('@/web/client/components/Manga/ChapterReadCount.vue')),
        ChapterListItem: defineAsyncComponent(() => import('./ChapterListItem.vue')),
        ChapterMenu: defineAsyncComponent(() => import('./ChapterListMenu.vue')),
    },

    props: {
        mangaId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const userStore = useUserStore()
        const isLoggedIn = computed(() => userStore.isLoggedIn)

        const mangaStore = useMangaStore()
        const chapterGroups = computed(() => mangaStore.getMangaChapterGroups(props.mangaId))

        const markAsRead = async(currentGroup: ChapterGroup, markAsRead: boolean) => {
            const accessToken = await userStore.getValidToken()
            await mangaStore.markChapterGroupAsRead(props.mangaId, currentGroup, markAsRead, accessToken)
        }

        const markLaterAsRead = async(currentGroup: ChapterGroup, markAsRead: boolean) => {
            const accessToken = await userStore.getValidToken()
            await mangaStore.markChaptersAroundChapterGroupAsRead(props.mangaId, currentGroup, markAsRead, true, accessToken)
        }

        const markOlderAsRead = async(currentGroup: ChapterGroup, markAsRead: boolean) => {
            const accessToken = await userStore.getValidToken()
            await mangaStore.markChaptersAroundChapterGroupAsRead(props.mangaId, currentGroup, markAsRead, false, accessToken)
        }

        return {
            isLoggedIn,
            chapterGroups,
            markAsRead,
            markLaterAsRead,
            markOlderAsRead,
        }
    },
})
</script>

<template>
    <div class="chapter-list-container">
        <h2>
            Chapters
            <template v-if="chapterGroups.length > 0">
                (<ChapterReadCount :manga-id="mangaId" />)
            </template>
        </h2>

        <p v-if="chapterGroups.length === 0">
            No chapters found
        </p>
        <div v-else>
            <div
                v-for="chapterGroup of chapterGroups"
                :key="chapterGroup.key"
                class="grouped-chapter"
            >
                <div>
                    <ChapterListItem
                        v-for="chapterId of chapterGroup.chapterIds"
                        :key="chapterId"
                        :manga-id="mangaId"
                        :chapter-id="chapterId"
                    />
                </div>

                <q-btn
                    v-if="isLoggedIn"
                    icon="more_vert"
                    round
                    flat
                >
                    <ChapterMenu
                        :manga-id="mangaId"
                        :chapter-group="chapterGroup"
                        @mark-as-read="markAsRead(chapterGroup, true)"
                        @mark-as-unread="markAsRead(chapterGroup, false)"
                        @mark-later-as-read="markLaterAsRead(chapterGroup, true)"
                        @mark-later-as-unread="markLaterAsRead(chapterGroup, false)"
                        @mark-older-as-read="markOlderAsRead(chapterGroup, true)"
                        @mark-older-as-unread="markOlderAsRead(chapterGroup, false)"
                    />
                </q-btn>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
.chapter-list-container{
    .grouped-chapter{
        border-bottom: $border;
        padding: $padding;
        margin: 0 (-$padding);

        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        &:first-child{
            border-top: $border;
        }
    }
}

.chapter-menu{
    font-size: 1rem;
    width: 300px;
}
</style>
