<script lang="ts">
import dayjs from 'dayjs'
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { useUserStore } from '@/web/client/store/User'
import { ChapterGroup } from '@/common/services/MangaDex/schemas/ChapterGroup'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            required: true,
        },
        chapterId: {
            type: String,
            required: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const chapter = computed(() => mangaStore.chapter.get(props.chapterId))

        const userStore = useUserStore()
        const isLoggedIn = computed(() => userStore.isLoggedIn)

        const isRead = computed(() => Boolean(mangaStore.readChapters.has(props.chapterId)))
        const toggleRead = async() => {
            const accessToken = await userStore.getValidToken()
            const chapterGroup: ChapterGroup = { key: '0xDEADBEEF', chapterIds: [props.chapterId] }
            await mangaStore.markChapterGroupAsRead(props.mangaId, chapterGroup, !isRead.value, accessToken)
        }

        const chapterName = computed(() => mangaStore.getChapterTitle(props.chapterId))
        const chapterToolTip = computed(() => `Read ${chapterName.value}`)
        const externalUrl = computed(() => chapter.value?.attributes.externalUrl)
        const chapterRoute = computed(() => mangaStore.getChapterRoute(props.chapterId))

        const scanlationGroup = computed(() => mangaStore.getChapterScanlationGroup(props.chapterId))
        const hasScanlationGroup = computed(() => Boolean(scanlationGroup.value))
        const scanlationGroupLabel = computed(() => scanlationGroup.value?.attributes.name ?? 'No Group')
        const isOfficialGroup = computed(() => scanlationGroup.value?.attributes.official)

        const publishAt = computed(() => chapter.value?.attributes.publishAt)
        const publishAtFromNow = computed(() => dayjs(publishAt.value).fromNow())

        return {
            isLoggedIn,
            isRead,
            toggleRead,

            chapterName,
            chapterToolTip,
            externalUrl,
            chapterRoute,

            hasScanlationGroup,
            scanlationGroupLabel,
            isOfficialGroup,

            publishAt,
            publishAtFromNow,
        }
    },
})
</script>

<template>
    <div
        :class="{
            'chapter-list-item': true,
            'is-read': isRead,
            'is-logged-in': isLoggedIn,
        }"
    >
        <q-btn
            v-if="isLoggedIn"
            :icon="isRead ? 'visibility_off' : 'visibility'"
            :title="isRead ? 'Mark as Unread' : 'Mark as Read'"
            size="sm"
            round
            flat
            @click="toggleRead"
        />

        <router-link
            :to="chapterRoute"
            class="chapter-name"
            :title="chapterToolTip"
            :target="externalUrl ? '_blank' : undefined"
            :rel="externalUrl ? 'noopener' : undefined"
        >
            <q-icon v-if="externalUrl" name="open_in_new" />
            <span>
                {{ chapterName }}
            </span>
        </router-link>

        <span
            :class="{
                'scanlation-group': true,
                'text-italic': !hasScanlationGroup,
            }"
            :title="scanlationGroupLabel"
        >
            <q-icon v-if="isOfficialGroup" name="verified" />
            {{ scanlationGroupLabel }}
        </span>

        <time
            class="chapter-publish"
            :datetime="publishAt"
            :title="publishAt"
        >
            {{ publishAtFromNow }}
        </time>
    </div>
</template>

<style lang="scss">
.chapter-list-item{
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: $padding;

    &.is-logged-in{
        grid-template-columns: auto 2fr 1fr 1fr;
    }

    &.is-read{
        color: $read-color;
        font-style: italic;

        a{
            color: $read-color;
        }
    }

    a{
        cursor: pointer;

        span{
            display: block;
        }

        &:hover{
            text-decoration: none;

            span{
                text-decoration: underline;
            }
        }
    }

    .chapter-name,
    .scanlation-group,
    .chapter-publish{
        display: flex;
        gap: math.div($padding, 2);
        align-items: center;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .scanlation-group,
    .chapter-publish{
        font-size: 0.9rem;
    }
}
</style>
