<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { PageMode } from './PageMode'
import { ReaderDirection } from './ReaderDirection'

export default defineComponent({
    props: {
        pageMode: {
            type: String as PropType<PageMode>,
            required: true,
        },
        readerDirection: {
            type: String as PropType<ReaderDirection>,
            required: true,
        },
    },

    emits: [
        'update:pageMode',
        'update:readerDirection',
    ],

    setup() {
        return {
            PageMode,
            ReaderDirection,
        }
    },
})
</script>

<template>
    <div class="reader-controls">
        <q-btn-group flat>
            <q-btn
                title="One page per row"
                icon="crop_portrait"
                :class="{
                    active: (pageMode === PageMode.Single),
                }"
                @click="$emit('update:pageMode', PageMode.Single)"
            />
            <q-btn
                title="Two pages per row"
                icon="view_agenda"
                class="rotate"
                :class="{
                    active: (pageMode === PageMode.TwoEven),
                }"
                @click="$emit('update:pageMode', PageMode.TwoEven)"
            />
            <q-btn
                title="Two pages per row, first page alone"
                icon="view_compact"
                :class="{
                    active: (pageMode === PageMode.TwoOdd),
                }"
                @click="$emit('update:pageMode', PageMode.TwoOdd)"
            />
        </q-btn-group>

        <q-btn-group flat>
            <q-btn
                title="Left to Right"
                icon="format_textdirection_l_to_r"
                :class="{
                    active: (readerDirection === ReaderDirection.LeftToRight),
                }"
                @click="$emit('update:readerDirection', ReaderDirection.LeftToRight)"
            />
            <q-btn
                title="Right to Left"
                icon="format_textdirection_r_to_l"
                :class="{
                    active: (readerDirection === ReaderDirection.RightToLeft),
                }"
                @click="$emit('update:readerDirection', ReaderDirection.RightToLeft)"
            />
        </q-btn-group>
    </div>
</template>

<style lang="scss">
.reader-controls{
    position: fixed;
    top: $header-height;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: $padding;
    padding: $padding;

    opacity: 0.2;

    &:hover{
        opacity: 1;
    }

    .q-btn{
        background: white;

        &.active{
            background: $dark;
            color: white;
        }

        &.rotate{
            .q-icon{
                transform: rotate(90deg);
            }
        }
    }
}
</style>
