<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useMangaStore } from '@/web/client/store/Manga'
import { useRouter } from 'vue-router'
import { mapGet } from '@/common/utils/undefinedKeyNoop'
import { useQuasar } from 'quasar'
import { AttributeType, findRelationship } from '@/common/services/MangaDex/schemas/Result'
import { floatGt } from '@/common/utils/float'

export default defineComponent({
    props: {
        mangaId: {
            type: String,
            default: '',
        },
        chapterId: {
            type: String,
            default: '',
        },
        goForward: {
            type: Boolean,
            default: true,
        },
    },

    setup(props) {
        const mangaStore = useMangaStore()
        const manga = computed(() => mangaStore.manga.get(props.mangaId))

        const currentChapter = computed(() => mangaStore.chapter.get(props.chapterId))
        const currentChapterNum = computed(() => parseFloat(currentChapter.value?.attributes.chapter ?? '0'))

        const chapterGroups = computed(() => mangaStore.getMangaChapterGroups(props.mangaId))
        const nextChapterId = computed<string | undefined>(() => {
            if (!currentChapter.value) {
                return undefined
            }

            const groups = [...chapterGroups.value]
            if (props.goForward) {
                // Since chapterGroups are in desc order (last chapter first), we need to reverse it so we can loop from first chapter
                groups.reverse()
            }

            for (const chapterGroup of groups) {
                const chapterNum = parseFloat(chapterGroup.key)

                if (props.goForward && (chapterNum <= currentChapterNum.value)) {
                    continue
                }

                if (!props.goForward && (chapterNum >= currentChapterNum.value)) {
                    continue
                }

                const scanlationGroupId = findRelationship(currentChapter.value, AttributeType.ScanlationGroup)?.id
                const nextChapterWithSameGroup = chapterGroup
                    .chapterIds
                    .map((chapterId) => mangaStore.chapter.get(chapterId))
                    .find((chapter) => scanlationGroupId === findRelationship(chapter, AttributeType.ScanlationGroup)?.id)

                return nextChapterWithSameGroup?.id ?? chapterGroup.chapterIds[0]
            }

            return undefined
        })

        const nextChapter = computed(() => mapGet(mangaStore.chapter, nextChapterId.value))
        const nextChapterNum = computed(() => parseFloat(nextChapter.value?.attributes.chapter ?? '0'))

        const label = computed<string>(() => {
            if (nextChapterId.value) {
                return mangaStore.getChapterTitle(nextChapterId.value)
            } else {
                return mangaStore.getMangaTitle(props.mangaId)
            }
        })

        const $q = useQuasar()
        const router = useRouter()
        const goToNextChapter = async() => {
            if (!nextChapterId.value) {
                await router.push(mangaStore.getMangaRoute(props.mangaId))
                return
            }

            // Prompt user in case of spoilers if there is larger than 1 chapter diff means there might be missing inbetween chapters
            const diff = Math.abs(nextChapterNum.value - currentChapterNum.value)
            const maxDiff = 1.1

            if (floatGt(diff, maxDiff)) {
                $q.dialog({
                    title: 'Potential Spoilers',
                    message: `You are currently on chapter ${currentChapterNum.value} but next chapter is ${nextChapterNum.value}. Do you wish to continue?`,
                    dark: true,
                    persistent: true,
                    ok: {
                        flat: true,
                        textColor: 'primary',
                        label: 'Continue',
                    },
                    cancel: {
                        flat: true,
                        textColor: 'grey',
                    },
                }).onOk(() => {
                    navigateToNextChapter()
                })
            } else {
                navigateToNextChapter()
            }
        }

        const navigateToNextChapter = () => {
            if (!nextChapterId.value) {
                throw new Error('Failed to find next chapter')
            }

            const chapterRoute = mangaStore.getChapterRoute(nextChapterId.value)
            void router.push(chapterRoute)
        }

        return {
            manga,
            label,
            nextChapterId,
            goToNextChapter,
        }
    },
})
</script>

<template>
    <q-btn
        v-if="manga"
        class="next-chapter-btn"
        color="primary"
        :title="`Go to ${label}`"
        :icon="nextChapterId
            ? (goForward ? 'navigate_next' : 'navigate_before')
            : 'book'
        "
        no-caps
        unelevated
        @click="goToNextChapter"
    >
        <strong>
            {{ label }}
        </strong>
    </q-btn>
</template>

<style lang="scss">
.next-chapter-btn{
    border-radius: 0;
    padding: ($padding * 4) $padding;
    width: 100%;

    font-weight: bold;
    font-size: 3rem;
    line-height: 1.25;

    .q-btn__content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: $padding * 2;
        justify-content: stretch;
        height: 100%;

        strong{
            overflow: hidden;
            word-break: break-word;
        }
    }
}
</style>
