<script lang="ts">
import { Language, LANGUAGE_OPTIONS, LocalizedString } from '@/common/services/MangaDex/schemas/Language'
import { defineComponent, PropType, ref, watch } from 'vue'

interface LocalizedStringField {
    language: Language | null
    value: string | null
}

function convertStringToFields(str: LocalizedString): Array<LocalizedStringField> {
    const fields: Array<LocalizedStringField> = []

    for (const [language, value] of Object.entries(str)) {
        fields.push({
            language: language as Language,
            value,
        })
    }

    return fields
}

function convertStringArrayToFields(strs: Array<LocalizedString>): Array<LocalizedStringField> {
    let fields: Array<LocalizedStringField> = []

    for (const str of strs) {
        fields = fields.concat(convertStringToFields(str))
    }

    return fields
}

function convertFieldsToString(fields: Array<LocalizedStringField>): LocalizedString {
    const str: LocalizedString = {}

    for (const field of fields) {
        if (!field.language || !field.value) {
            continue
        }

        str[field.language] = field.value
    }

    return str
}

function convertFieldsToStringArray(fields: Array<LocalizedStringField>): Array<LocalizedString> {
    const array: Array<LocalizedString> = []

    for (const field of fields) {
        if (!field.language || !field.value) {
            continue
        }

        array.push({ [field.language]: field.value })
    }

    return array
}

export default defineComponent({
    props: {
        label: {
            type: String,
            required: true,
        },
        isTextarea: {
            type: Boolean,
            default: false,
        },
        isUniqueLanguages: {
            type: Boolean,
            default: false,
        },
        modelValue: {
            type: Object as PropType<LocalizedString | Array<LocalizedString>>,
            required: true,
        },
    },

    emits: {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        'update:modelValue': (localizedString: LocalizedString | Array<LocalizedString>) => true,
    },

    setup(props, { emit }) {
        const localizedString = ref<Array<LocalizedStringField>>(Array.isArray(props.modelValue)
            ? convertStringArrayToFields(props.modelValue)
            : convertStringToFields(props.modelValue))

        watch(localizedString, () => {
            if (Array.isArray(props.modelValue)) {
                emit('update:modelValue', convertFieldsToStringArray(localizedString.value))
            } else {
                emit('update:modelValue', convertFieldsToString(localizedString.value))
            }
        }, {
            deep: true,
        })

        const addLocalizedString = () => {
            localizedString.value.push({
                language: null,
                value: null,
            })
        }

        const validateLanguage = (val: string | null, idx: number) => {
            if (props.isUniqueLanguages) {
                for (let i = 0; i < localizedString.value.length; i++) {
                    if (i === idx) {
                        continue
                    }

                    if (localizedString.value[i].language === val) {
                        return 'Duplicate language'
                    }
                }
            }

            return Boolean(val) || 'Must set language'
        }

        return {
            LANGUAGE_OPTIONS,
            validateLanguage,

            localizedString,
            addLocalizedString,
        }
    },
})
</script>

<template>
    <div class="localized-string-field bordered-box">
        <div>
            <q-btn
                label="Add Language"
                icon="add"
                color="positive"
                no-caps
                rounded
                unelevated
                @click="addLocalizedString"
            />
        </div>

        <div
            v-for="[idx, str] of localizedString.entries()"
            :key="idx"
            class="str"
        >
            <q-input
                v-model="str.value"
                outlined
                :label="label"
                :autogrow="isTextarea"
                clearable
                hide-bottom-space
                :rules="[
                    (val: string) => Boolean(val) || `Must set ${label}`
                ]"
            />
            <q-select
                v-model="str.language"
                :options="LANGUAGE_OPTIONS"
                label="Language"
                outlined
                clearable
                emit-value
                map-options
                hide-bottom-space
                :rules="[
                    (val: string) => validateLanguage(val, idx),
                ]"
            />
            <q-btn
                title="Delete"
                icon="delete"
                round
                flat
                clearable
                @click="localizedString.splice(idx, 1)"
            />
        </div>
    </div>
</template>

<style lang="scss">
.localized-string-field{
    display: flex;
    flex-direction: column;
    gap: $padding;

    .str{
        display: grid;
        align-items: flex-start;
        gap: $padding;
        grid-template-columns: 3fr 1fr auto;

        > .q-btn{
            margin: math.div(56px - 42px, 2) 0;
        }

        .q-textarea textarea{
            min-height: 200px;
        }
    }
}
</style>
