<script lang="ts">
import { ExternalSite, EXTERNAL_SITE_OPTIONS } from '@/common/services/MangaDex/schemas/ExternalSite'
import { Manga } from '@/common/services/MangaDex/schemas/Manga'
import { defineComponent, PropType, ref, watch } from 'vue'

type MangaLinks = Manga['attributes']['links']

interface MangaLinkField {
    site: ExternalSite | null
    value: string | null
}

function convertLinksToFields(links: MangaLinks): Array<MangaLinkField> {
    const fields: Array<MangaLinkField> = []

    for (const [site, value] of Object.entries(links ?? {})) {
        fields.push({
            site: site as ExternalSite,
            value,
        })
    }

    return fields
}

function convertFieldsToLinks(fields: Array<MangaLinkField>): MangaLinks {
    const links: MangaLinks = {}

    for (const field of fields) {
        if (!field.site || !field.value) {
            continue
        }

        links[field.site] = field.value
    }

    return links
}

export default defineComponent({
    props: {
        modelValue: {
            type: Object as PropType<MangaLinks>,
            default: () => ({}),
        },
    },

    emits: {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        'update:modelValue': (mangaLinks: MangaLinks) => true,
    },

    setup(props, { emit }) {
        const links = ref<Array<MangaLinkField>>(convertLinksToFields(props.modelValue))
        watch(links, () => emit('update:modelValue', convertFieldsToLinks(links.value)), { deep: true })

        const addLink = () => {
            links.value.push({
                site: null,
                value: null,
            })
        }

        return {
            EXTERNAL_SITE_OPTIONS,

            links,
            addLink,
        }
    },
})
</script>

<template>
    <div class="links-field bordered-box">
        <div>
            <q-btn
                label="Add Link"
                icon="add"
                color="positive"
                no-caps
                rounded
                unelevated
                @click="addLink"
            />
        </div>

        <div
            v-for="[idx, link] of links.entries()"
            :key="idx"
            class="link"
        >
            <q-input
                v-model="link.value"
                label="Link Value"
                outlined
                clearable
                hide-bottom-space
                :rules="[
                    (val: string) => Boolean(val) || 'Must set link value'
                ]"
            />
            <q-select
                v-model="link.site"
                :options="EXTERNAL_SITE_OPTIONS"
                label="Site"
                outlined
                clearable
                emit-value
                map-options
                hide-bottom-space
                :rules="[
                    (val: string) => Boolean(val) || 'Must set site',
                ]"
            />
            <q-btn
                title="Delete"
                icon="delete"
                round
                flat
                clearable
                @click="links.splice(idx, 1)"
            />
        </div>
    </div>
</template>

<style lang="scss">
.links-field{
    display: flex;
    flex-direction: column;
    gap: $padding;

    .link{
        display: grid;
        align-items: flex-start;
        gap: $padding;
        grid-template-columns: 3fr 1fr auto;

        > .q-btn{
            margin: math.div(56px - 42px, 2) 0;
        }
    }
}
</style>
