<script lang="ts">
import { getMangaTitle } from '@/common/services/MangaDex/getters/getMangaTitle'
import { Artist, Author } from '@/common/services/MangaDex/schemas/Author'
import { AttributeType, findAllRelationships } from '@/common/services/MangaDex/schemas/Result'
import { arrayEquals } from '@/common/utils/arrayEquals'
import { isUuid } from '@/common/utils/isUuid'
import { useMangaStore } from '@/web/client/store/Manga'
import { QSelectProps } from 'quasar'
import { defineComponent, onMounted, PropType, ref, watch } from 'vue'

interface CreatorOption {
    label: string
    mangas: Array<{ id: string; title: string }>
    value: string
    icon: string
}

export default defineComponent({
    props: {
        modelValue: {
            type: Object as PropType<Array<string>>,
            required: true,
        },
        label: {
            type: String,
            required: true,
        },
        hint: {
            type: String as PropType<string | undefined>,
            default: undefined,
        },
        newValueMode: {
            type: String as PropType<QSelectProps['newValueMode'] | undefined>,
            default: undefined,
        },
        icon: {
            type: String as PropType<string | undefined>,
            default: undefined,
        },
    },

    emits: {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        'update:modelValue': (creator: Array<string>) => true,
    },

    setup(props, { emit }) {
        const creatorIds = ref<Array<string>>([])
        watch(creatorIds, (ids, oldIds) => {
            if (arrayEquals(ids, oldIds)) {
                return
            }

            emit('update:modelValue', creatorIds.value)
        })

        const matchedCreators = ref<Array<CreatorOption>>([])
        const setMatchedCreators = (creators: Array<Author | Artist>) => {
            matchedCreators.value = creators.map((author) => {
                const mangaNames = findAllRelationships(author, AttributeType.Manga).map((manga) => ({ id: manga.id, title: getMangaTitle(manga.attributes) }))
                return {
                    label: author.attributes.name,
                    mangas: mangaNames.slice(0, 5),
                    value: author.id,
                    icon: author.attributes.imageUrl ?? '/icons/logo-192.png',
                }
            })
        }

        const mangaStore = useMangaStore()
        const loadInitCreators = async() => {
            // Set internal field value
            creatorIds.value = props.modelValue

            // Query names for creators that are valid uuids (for mapping display values)
            // Any non-valid uuids are assumed to be user added creators' names
            const missingCreatorIds = props.modelValue.filter((id) => isUuid(id))
            const initCreators = await mangaStore.fetchCreators(missingCreatorIds)
            setMatchedCreators(initCreators)
        }

        watch(() => props.modelValue, async(ids, oldIds) => {
            if (arrayEquals(ids, oldIds)) {
                return
            }

            await loadInitCreators()
        })
        onMounted(loadInitCreators)

        const fetchCreators: QSelectProps['onFilter'] = (val, doneFn) => {
            void (async() => {
                matchedCreators.value = []

                if (val) {
                    const authors = await mangaStore.searchCreatorByName(val)
                    setMatchedCreators(authors)
                }

                // eslint-disable-next-line @typescript-eslint/no-empty-function
                doneFn(() => {}, () => {})
            })()
        }

        return {
            creatorIds,
            matchedCreators,
            fetchCreators,
        }
    },
})
</script>

<template>
    <q-select
        v-model="creatorIds"
        :options="matchedCreators"
        :label="label"
        :hint="hint"
        popup-content-class="creators-select"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        multiple
        outlined
        use-chips
        use-input
        map-options
        emit-value
        hide-bottom-space
        :new-value-mode="newValueMode"
        input-debounce="500"
        @filter="fetchCreators"
    >
        <template #prepend>
            <q-icon :name="icon" />
        </template>
        <template #no-option>
            <q-item>
                <q-item-section class="text-grey">
                    No results
                </q-item-section>
            </q-item>
        </template>
        <template #option="scope">
            <q-item v-bind="scope.itemProps">
                <q-item-section avatar>
                    <q-avatar>
                        <img :src="scope.opt.icon">
                    </q-avatar>
                </q-item-section>
                <q-item-section>
                    <q-item-label>
                        {{ scope.opt.label }}
                    </q-item-label>
                    <q-item-label caption>
                        <ul>
                            <li
                                v-for="manga of scope.opt.mangas"
                                :key="manga.id"
                            >
                                {{ manga.title }}
                            </li>
                        </ul>
                    </q-item-label>
                </q-item-section>
            </q-item>
        </template>
    </q-select>
</template>

<style lang="scss">
.creators-select{
    .q-item__label--caption{
        ul{
            margin: 0;
            padding-left: $padding * 2;
        }
    }
}
</style>
